doctype html

// Copyright (c) 2016-{%year%}, Abtz Labs
//
// Permission is hereby granted, free of charge, to any person obtaining a
// copy of this software and associated documentation files (the "Software"),
// to deal in the Software without restriction, including without limitation the
// rights to use, copy, modify, merge, publish, distribute, sublicense, and/or
// sell copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in all
// copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
// WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR
// IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    title Seed CSS {%version%}

    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="description", content="A light-weight, mobile first and responsive CSS boilerplate.")
    meta(name="keywords", content="css,boilerplate,javascript,html5,website,site,app,webapp,build,development")
    meta(name="author", content="Rogerio Taques (http://github.com/rogeriotaques)")
    meta(name="copyright", content="Abtz Labs (https://abtz.co)")
    meta(name="license", content="MIT")

    link(rel="stylesheet", type="text/css", href="//fonts.googleapis.com/css?family=Lato:300,700|Open+Sans:400|Cookie")
    link(rel="stylesheet", type="text/css", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css")
    link(rel="stylesheet", type="text/css", href="assets/css/seed.css?v={%version%}")
    link(rel="stylesheet", type="text/css", href="assets/css/style.css?v={%version%}")

    script(src="https://unpkg.com/eva-icons")

    style.
      .bmc-button img{width: 27px !important;margin-bottom: 1px !important;box-shadow: none !important;border: none !important;vertical-align: middle !important;}
      .bmc-button{line-height: 36px !important;height:37px !important;text-decoration: none !important;display:inline-flex !important;color:#ffffff !important;background-color:#FF813F !important;border-radius: 3px !important;border: 1px solid transparent !important;padding: 1px 9px !important;font-size: 22px !important;letter-spacing: 0.6px !important;box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;-webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;margin: 0 auto !important;font-family:'Cookie', cursive !important;-webkit-box-sizing: border-box !important;box-sizing: border-box !important;-o-transition: 0.3s all linear !important;-webkit-transition: 0.3s all linear !important;-moz-transition: 0.3s all linear !important;-ms-transition: 0.3s all linear !important;transition: 0.3s all linear !important;}
      .bmc-button:hover, 
      .bmc-button:active, 
      .bmc-button:focus {-webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;text-decoration: none !important;box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;opacity: 0.85 !important;color:#ffffff !important;}
  body

    aside#sidenav.offcanvas
      include sections/_example-offcanvas

    main#page-wrapper.oncanvas  
      include sections/_header
      //- include sections/_main
      include sections/_nav
      include sections/_get-started
      include sections/_examples
      include sections/_javascript
      //- include sections/_show-case
      include sections/_license
      include sections/_donate
      include sections/_footer

    // Remove .hide to show the modal window
    #modal.modal.hide
      // Use .bounceInDown to enter and .bounceOutUp to leave
      .modal-window
        .modal-header
          h3.modal-title Hello world 
          a(href="#", role="modal-dismiss").dismiss
            span X
        .modal-body    
          p This's the body of the overlay modal window.
          p You can clique on the "X" at the top-right, anywhere in the dark background, or even press the ESC key to dismiss this window.
          p Also, always a modal is open or close, <code >modal.opened</code> and <code >modal.closed</code> events are dispatched respectively.
        .modal-footer
          .align-right
            button(type="button").btn.small.secondary OK! Got it.

    script(src="//cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js")
    script(src="//code.jquery.com/jquery-2.2.3.min.js", integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=", crossorigin="anonymous")
    script(src="assets/js/bundle.js?v={%version%}")
