doctype html

// Copyright (c) 2016-{%year%}, Abtz Labs
//
// Permission is hereby granted, free of charge, to any person obtaining a
// copy of this software and associated documentation files (the "Software"),
// to deal in the Software without restriction, including without limitation the
// rights to use, copy, modify, merge, publish, distribute, sublicense, and/or
// sell copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in all
// copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
// WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR
// IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    title Seed CSS {%version%}

    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="description", content="A light-weight, mobile first and responsive CSS boilerplate.")
    meta(name="keywords", content="css,boilerplate,javascript,html5,website,site,app,webapp,build,development")
    meta(name="author", content="Rogerio Taques (http://github.com/rogeriotaques)")
    meta(name="copyright", content="Abtz Labs (https://abtz.co)")
    meta(name="license", content="MIT")

    link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/css?family=Lato:300,700|Open+Sans:400|Cookie")
    link(rel="stylesheet", type="text/css", href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css")
    link(rel="stylesheet", type="text/css", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css")
    link(rel="stylesheet", type="text/css", href="assets/css/seed.css?v={%version%}")
    link(rel="stylesheet", type="text/css", href="assets/css/style.css?v={%version%}")

    script(src="https://unpkg.com/eva-icons")
    
    // Global site tag (gtag.js) - Google Analytics
    script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-734057-10")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-734057-10');

    style.
      .bmc {
        color:#ffffff !important;
        background-color:#FF813F !important;
        border-color:#FF813F !important;
        font-family:'Cookie', cursive !important;
        font-size: 23px !important;
        font-weight: normal !important;
      }

      .bmc:hover,
      .bmc:active,
      .bmc:focus {
        background-color:#fb6c22 !important;
        border-color:#fb6c22 !important;
      }
  body

    aside#sidenav.offcanvas
      include sections/_example-offcanvas

    main#page-wrapper.oncanvas  
      include sections/_header
      //- include sections/_main
      include sections/_nav
      include sections/_get-started
      include sections/_examples
      include sections/_javascript
      //- include sections/_show-case
      include sections/_license
      include sections/_donate
      include sections/_footer

    // Remove .hide to show the modal window
    #modal.modal.hide
      // Use .bounceInDown to enter and .bounceOutUp to leave
      .modal-window
        .modal-header
          h3.modal-title Hello world 
          a(href="#", role="modal-dismiss").dismiss
            span X
        .modal-body.align-justify    
          p This's the body of the overlay modal window.
          p You can clique on the "<b>X</b>" at the top-right, anywhere in the dark background, or even press the <b>ESC</b> key to dismiss this window.
          p Also, always a modal is open or close, <code >modal.opened</code> and <code >modal.closed</code> events are dispatched respectively.
        .modal-footer
          .align-right
            button(type="button").btn.medium.secondary Got it.

    script(src="//cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js")
    script(src="//code.jquery.com/jquery-2.2.3.min.js", integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=", crossorigin="anonymous")
    script(src="assets/js/bundle.js?v={%version%}")
    script(type="text/javascript", src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js")
    script(type="text/javascript"). 
      docsearch({ 
        apiKey: 'c664adc98c6f295b647556382cd0c5cf', 
        indexName: 'abtzlabs_seed-css', 
        inputSelector: '#page-search', 
        algoliaOptions: { 'facetFilters': ["tags:master"] }, 
        debug: true, // Set debug to true if you want to inspect the dropdown
        handleSelected: function (input, event, suggestion, datasetNumber, context) {
          var fnGetOffset = function (elem) {
            var bodyOffset = document.body.getBoundingClientRect();
            var offset = elem.getBoundingClientRect();

            return {
              top: Math.ceil(offset.top - bodyOffset.top),
              left: Math.ceil(offset.left - bodyOffset.left)
            };
          }; // fnGetOffset

          var target = suggestion.url.substr(
            suggestion.url.indexOf('#')
          );

          input.setVal('');

          if (target) {
            var elem = document.querySelector(target);
            var scrollTarget = fnGetOffset(elem).top - 150;

            window.scrollTo({
              behavior: 'smooth',
              left: 0,
              top: scrollTarget
            });
          }
        } 
      }); 
