// screen sizes
$small: 320px;
$medium: 550px;
$large: 960px;

// media queries
$small-and-up: 'only screen and (min-width: #{$small + 5})';
$medium-and-up: 'only screen and (min-width: #{$medium + 5})';
$large-and-up: 'only screen and (min-width: #{$large + 5})';

// default variables
$height: 45px;
$margin: 10px;
$padding: 10px;
$radius: 5px;
$border: 1px;

// colors
$primary: #387cfd;
$darken-grey: #666;
$grey: #ccc;
$grey-light: #f5f5f5;
$grey-lighten: #e2e2e2;
$shadow: #888;
$red: #d32f2f;
$orange: #fb8c00;
$green: #43a047;
$purple: #8e24aa;
