// screen sizes
$small: 320px;
$small-container: 90%;
$medium: 600px;
$medium-container: 85%;
$large: 990px;
$large-container: 80%;
$extra-large: 1200px;
$extra-large-container: 75%;

// media queries
$small-only: 'only screen and (max-width: #{$medium - 1})';
$small-and-up: 'only screen and (min-width: 0)';
$medium-only: 'only screen and (min-width: #{$medium}) and (max-width: #{$large - 1})';
$medium-and-up: 'only screen and (min-width: #{$medium})';
$medium-and-down: 'only screen and (max-width: #{$large - 1})';
$large-only: 'only screen and (min-width: #{$large}) and (max-width: #{$extra-large - 1})';
$large-and-up: 'only screen and (min-width: #{$large})';
$large-and-down: 'only screen and (max-width: #{$extra-large - 1})';
$extra-large-only: 'only screen and (min-width: #{$extra-large})';

// default variables
$height: 45px;
$margin: 10px;
$padding: 10px;
$radius: 5px;
$border: 1px;

// colors
$primary: #387cfd;
$darken-grey: #666;
$grey: #ccc;
$grey-light: #f5f5f5;
$grey-lighten: #e2e2e2;
$shadow: #888;
$red: #d32f2f;
$orange: #fb8c00;
$green: #43a047;
$purple: #8e24aa;
