doctype html

// Copyright (c) 2016-{%year%}, Abtz Labs
//
// Permission is hereby granted, free of charge, to any person obtaining a
// copy of this software and associated documentation files (the "Software"),
// to deal in the Software without restriction, including without limitation the
// rights to use, copy, modify, merge, publish, distribute, sublicense, and/or
// sell copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in all
// copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
// WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR
// IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    title Seed CSS {%version%}

    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="description", content="A light-weight, mobile first and responsive CSS boilerplate.")
    meta(name="keywords", content="css,boilerplate,javascript,html5,website,site,app,webapp,build,development")
    meta(name="author", content="Rogerio Taques (http://github.com/rogeriotaques)")
    meta(name="copyright", content="Abtz Labs (https://abtz.co)")
    meta(name="license", content="MIT")

    link(rel="stylesheet", type="text/css", href="//fonts.googleapis.com/css?family=Lato:300,700|Open+Sans:400")
    //- link(rel="stylesheet", type="text/css", href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
    //- link(rel="stylesheet", type="text/css", href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css")
    link(rel="stylesheet", type="text/css", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css")
    link(rel="stylesheet", type="text/css", href="assets/css/seed.css?v={%version%}")
    link(rel="stylesheet", type="text/css", href="assets/css/style.css?v={%version%}")
  body

    //- include sections/_header
    //- include sections/_main
    include sections/_get-started
    include sections/_examples
    include sections/_javascript
    //- include sections/_show-case
    include sections/_license
    //- include sections/_donate
    include sections/_footer

    include sections/_example-offset-canvas

    script(src="//cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js")
    script(src="//code.jquery.com/jquery-2.2.3.min.js", integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=", crossorigin="anonymous")
    script(src="assets/js/bundle.js?v={%version%}")
