doctype html

// Copyright (c) 2016-{%year%}, Rogerio Taques
//
// Permission is hereby granted, free of charge, to any person obtaining a
// copy of this software and associated documentation files (the "Software"),
// to deal in the Software without restriction, including without limitation the
// rights to use, copy, modify, merge, publish, distribute, sublicense, and/or
// sell copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in all
// copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
// WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR
// IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.


html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    title Seed CSS {%version%}

    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="description", content="A light-weight, mobile first and responsive CSS boilerplate.")
    meta(name="keywords", content="css,boilerplate,javascript,html5,website,site,app,webapp,build,development")
    meta(name="author", content="Rogerio Taques (http://github.com/rogeriotaques)")
    meta(name="copyright", content="Rogerio Taques")
    meta(name="license", content="MIT")

    link(rel="stylesheet", type="text/css", href="//fonts.googleapis.com/css?family=Lato:300,700|Open+Sans:400")
    link(rel="stylesheet", type="text/css", href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
    link(rel="stylesheet", type="text/css", href="assets/css/seed.css?v={%version%}")
    link(rel="stylesheet", type="text/css", href="assets/css/style.css?v={%version%}")
  body

    header
      .container.align-center
        h1 Seed CSS
        p A light-weight, mobile first and responsive CSS boilerplate.

        .cta
          a.btn.btn-primary(href="https://github.com/rogeriotaques/seed-css/archive/develop.zip")
            span DOWNLOAD
            span#release {%version%}

        p (This page design is proudly based on <code class="primary">seed-css</code>)

        div
          span(title="Scroll down for more ...").ion-chevron-down.scroll-down-for-more

    main
      br

      .container.align-center
        h2 Why you're gonna love it?
        p  It's made for modern browsers, not intrusive and lightweight.

        .grid.highlight
          .row
            .col.md-4.align-center
              h3
                i.ion-speedometer
                br
                | Easy to start

              p.
                Get started to your projects with a very small footprint
                CSS boilerplate like this.

            .col.md-4.align-center

              h3
                i.ion-leaf
                br
                | Light-weight

              p.
                Just <b>11kb</b> of CSS your app needs to load for a
                mobile first and responsive design.

            .col.md-4.align-center
              h3
                i.ion-settings
                br
                | Based on Sass

              p.
                All written on Sass, what means you can easily customize it
                as much as you need.


    section#get-started

     .container
        h2 Get started

        p.align-justify.
          Just before get started, please notice that <code class="primary">seed-css</code> was written with modern browsers in mind.
          That means it just has support for <b>IE9+</b> (which actually isn't a real modern browser ... but),
          <b>Chrome</b>, <b>Firefox</b> and <b>Safari</b>, besides mobile browsers. If you need support older browsers, this boilerplate
          may not help you, but, just in case, you're free to customize it and create your own CSS rules to
          make it supports those older browser versions.

        p.align-justify.
          The most first thing you need to do to start using <code class="primary" >seed-css</code>
          is import its CSS file into your pages. In order to get the right files, you can either
          <a href="https://github.com/rogeriotaques/seed-css" >fork</a> this project on Github, or
          just <a href="https://github.com/rogeriotaques/seed-css/archive/develop.zip" >download</a>
          the compressed project files to your computer.

        p.align-justify.
          After get the latest version of files, import it to your pages as the example below:

        .code-sample
          pre.prettyprint.lang-html.
            &lt;head &gt;
              ...
              &lt;link href="seed.css" rel="stylesheet" type="text/css" &gt;
            &lt;/head&gt;


        p.
          Once you have the <code class="primary" >seed-css</code> stylesheet embeded to your
          site or application, have a look on all code examples below to get inspired about
          what features it offers you and what you can do with it. :)

    section#examples
      .container
        h2#examples-basic Basic

        .grid
          .row
            .col.md-8.lg-9
              //- contents

              include components/_container
              include components/_grid
              include components/_images
              include components/_typography
              include components/_media-queries
              include components/_icons
              include components/_colors

            .col.md-4.lg-3.hide-only-small.relpos
              //- menu

              nav.samples-nav(data-attach="#sample-container", data-limit="#examples-components")
                h5 The basic
                ul.list
                  li.item
                    a(href="#sample-container").spy Container
                  li.item
                    a(href="#sample-grid").spy Grid
                  li.item
                    a(href="#sample-responsive-images").spy Responsive images
                  li.item
                    a(href="#sample-typography").spy Typography
                  li.item
                    a(href="#sample-media-queries").spy Media queries
                  li.item
                    a(href="#sample-icons").spy Icons
                  li.item
                    a(href="#sample-colors").spy Colors
                  li.item
                    a(href="#examples-components")
                      span Check the components &nbsp;
                      span.ion-arrow-down-c

        h2#examples-components Components

        .grid
          .row
            .col.md-8.lg-9
              //- contents

              include components/_alerts
              include components/_buttons
              include components/_cards
              include components/_forms
              include components/_lists
              include components/_modals
              include components/_progress
              include components/_side-panel
              include components/_tables
              include components/_tooltips
              include components/_utilities

            .col.md-4.lg-3.hide-only-small.relpos
              //- menu

              nav.samples-nav(data-attach="#sample-alerts", data-limit="#license")
                h5 Components

                ul.list
                  li.item
                    a(href="#sample-alerts").spy Alerts
                  li.item
                    a(href="#sample-buttons").spy Buttons
                  li.item
                    a(href="#sample-cards").spy Cards
                  li.item
                    a(href="#sample-form").spy Form
                  li.item
                    a(href="#sample-lists").spy Lists
                  li.item
                    a(href="#sample-modals").spy Modals
                  li.item
                    a(href="#sample-progress").spy Progress bar
                  li.item
                    a(href="#sample-side-panel").spy Side panel
                  li.item
                    a(href="#sample-tables").spy Tables
                  li.item
                    a(href="#sample-tooltips").spy Tooltip
                  li.item
                    a(href="#sample-utilities").spy Utilities

    //- section#show-case
    //-   .container
    //-     h2 Showcase

    //-     p.align-justify.
    //-       Have you build a website or app using <code class="primary">seed-css</code>?
    //-       Don't be shy and let me know.

    //-     p Your creation can be included here, in the showcase. :)

    section#license
      .container
        h2 License

        code

          p The MIT license.

          p Copyright &copy; 2016-{%year%}, Rogerio Taques.

          p.align-justify.
            Permission is hereby granted, free of charge, to any person obtaining
            a copy of this software and associated documentation files
            (the "Software"), to deal in the Software without restriction,
            including without limitation the rights to use, copy, modify, merge,
            publish, distribute, sublicense, and/or sell copies of the Software,
            and to permit persons to whom the Software is furnished to do so,
            subject to the following conditions:

          p.align-justify.
            The above copyright notice and this permission notice shall be included
            in all copies or substantial portions of the Software.

          p.align-justify.
            THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
            EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
            MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
            IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY
            CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,
            TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
            SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.


    footer
      p.copyright &copy; 2016-{%year%}, Rogerio Taques.

      .grid
        .row
          .col.sm-12.md-3.md-offset-3
            p.align-center.
              Need support, have suggestions or just would like to drop me a line? <br>
              <a href="https://github.com/rogeriotaques/seed-css/issues" class="btn" >Open an issue at Github</a>

          .col.sm-12.md-3
            p.align-center
              | Is this project been useful for you? Why don't you make a
              | donation to supports it?
              br

            form(action="https://www.paypal.com/cgi-bin/webscr", method="post", target="_top")
              input(type="hidden", name="cmd", value="_s-xclick")
              input(type="hidden", name="hosted_button_id", value="DD2FN2RTGURA2")
              input(type="hidden", name="currency_code", value="JPY")

              div(class="field seed-select")
                select(name="os0")
                  option(value="Small") Modest ¥399 JPY
                  option(value="Medium") Prefered ¥1,000 JPY
                  option(value="Big") Generous ¥1,999 JPY

              button(type="submit", class="btn") Donate
              img(alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1")


    script(src="//cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js")
    script(src="//code.jquery.com/jquery-2.2.3.min.js", integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=", crossorigin="anonymous")
    script(src="assets/js/bundle.js?v={%version%}")
