// Copyright (c) 2016, Rogerio Taques
// 
// Permission is hereby granted, free of charge, to any person obtaining a 
// copy of this software and associated documentation files (the "Software"), 
// to deal in the Software without restriction, including without limitation the 
// rights to use, copy, modify, merge, publish, distribute, sublicense, and/or 
// sell copies of the Software, and to permit persons to whom the Software is 
// furnished to do so, subject to the following conditions:
// 
// The above copyright notice and this permission notice shall be included in all 
// copies or substantial portions of the Software.
// 
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, 
// WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR 
// IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

doctype html

html(lang="en")
  head
    meta(charset="utf-8")
    title Seed CSS Framework
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", type="text/css", href="//fonts.googleapis.com/css?family=Raleway:400,300,600")
    link(rel="stylesheet", type="text/css", href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
    link(rel="stylesheet", type="text/css", href="assets/css/seed.css")
    link(rel="stylesheet", type="text/css", href="assets/css/style.css")
  body
  
    header
      .container
        h1 Seed CSS
        
        p.
          A light-weight mobile first responsive CSS boilerplate.

    section.page-navbar
      .container
        nav 
          ul
            li 
              a(href="#!") About 
            li 
              a(href="#!") Get started
            li 
              a(href="#!") Examples
            li 
              a(href="#!") License
            li.hide-only-small
              a(href="#!") Fork me on Github
            li.hide
              a(href="#!") Download

    section.main 
      .container
      
        br
        
        .grid
          .row
            .col.sm-12.md-4.align-center
              h3
                i.ion-speedometer
                br
                | Quick start
              
              p. 
                Get started to your projects with a very small footprint 
                CSS boilerplate like this.
                
            .col.sm-12.md-4.align-center
                    
              h3 
                i.ion-leaf
                br
                | Light-weight
              
              p. 
                Just <b>11kb</b> of CSS your app needs to load for a 
                mobile first and responsive design.
              
            .col.sm-12.md-4.align-center
              h3 
                i.ion-settings
                br
                | Full customizable
                
              p. 
                All written on Sass, what means you can easily customize it
                as much as you need.
          br
          
          .row
            .col.sm-12.align-center
              a.btn.btn-primary(href="#!") DOWNLOAD 
        
    section
      .container
        h2 Container
      
        p Containers are used to define an enclosed area.
      
        .sample-container.align-center .container
        
        .code-sample
          pre.prettyprint.lang-html. 
            &lt;div class="container" &gt;&lt;/div&gt;
          
        hr
    
    section
      .container 
        h2 Grid 
        
        p. 
          Grids are used to define columns. The grid system is responsive, 
          which means you can define the number of columns according to the screen size.
        
        br
        
        table 
          thead
            tr 
              th Class 
              th Detail
              th Remarks
          tbody 
            tr
              td.nowrap .grid
              td.nowrap &nbsp;
              td Defines the grid container
            tr
              td.nowrap .row
              td.nowrap &nbsp;
              td Defines each row of a grid container
            tr
              td.nowrap .col
              td.nowrap &nbsp;
              td Defines each column of a grid container
            tr
              td.nowrap .sm-*
              td.nowrap (1 ~ 12)
              td Defines a column size for small screens. It's used concatenated to <code >.col</code>
            tr
              td.nowrap .sm-*-offset
              td.nowrap (1 ~ 12)
              td Creates an offset of columns for small screens. It's used concatenated to <code >.col</code>
            tr
              td.nowrap .md-*
              td.nowrap (1 ~ 12)
              td Defines a column size for medium screens. It's used concatenated to <code >.col</code
            tr
              td.nowrap .md-*-offset
              td.nowrap (1 ~ 12)
              td Creates an offset of columns for medium screens. It's used concatenated to <code >.col</code
            tr
              td.nowrap .lg-*
              td.nowrap (1 ~ 12)
              td Defines a column size for large screens. It's used concatenated to <code >.col</code
            tr
              td.nowrap .lg-*-offset
              td.nowrap (1 ~ 12)
              td Creates an offset of columns for large screens. It's used concatenated to <code >.col</code
              
        br
        
        h5 Examples
        
        .grid.sample
          .row
            .col.sm-12.md-6.lg-3.align-center 
              span .sm-12.md-6.lg-3
            .col.sm-12.md-6.lg-3.align-center 
              span .sm-12.md-6.lg-3
            .col.sm-12.md-6.lg-3.align-center 
              span .sm-12.md-6.lg-3
            .col.sm-12.md-6.lg-3.align-center 
              span .sm-12.md-6.lg-3
        
        .code-sample
          pre.prettyprint.lang-html.
            &lt;div class="grid" &gt;
              &lt;div class="row" &gt;
                &lt;div class="col sm-12 md-6" &gt; ... &lt;/div&gt;
                &lt;div class="col sm-12 md-6" &gt; ... &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
        
        br
        
        p There are up to twelve columns.
        
        .grid.sample
        
          .row
            - each i in [1,2,3,4,5,6,7,8,9,10,11,12]
              .col.sm-1.align-center 
                span .sm-1
          .row
            .col.sm-12.align-center 
              span .sm-12
        
          .row
            .col.sm-1.align-center 
              span .sm-1
            .col.sm-11.align-center 
              span .sm-11
        
          .code-sample
            pre.prettyprint.lang-html. 
              &lt;div class="grid" &gt;
                &lt;div class="row" &gt;
                  &lt;div class="col sm-1" &gt; ... &lt;/div&gt;
                  &lt;div class="col sm-11" &gt; ... &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
          
        br
        
        p. 
          Offsets are also available. <br >
          To apply offsets, just add the sufix <code >-offset</code> to your classname.
        
        .grid.sample
        
          .row
            .col.sm-12.md-6.md-6-offset.align-center 
              span .sm-12.md-6.md-6-offset
        
          .code-sample
            pre.prettyprint.lang-html.
              &lt;div class="grid" &gt;
                &lt;div class="row" &gt;
                  &lt;div class="col sm-6 sm-6-offset" &gt; ... &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
        
        hr

    section
      .container
        h2 Typography
        
        .grid
          .row
            .col.sm-12.md-6
              p.
                All default HTML tags are supported, including but not limited 
                to the below few examples.
              
              p. 
                This is an paragraph. <br >
                This is a <b >bold</b> text. <br >
                This is an <i >italic</i> text. <br >
                This is an <u >underlined</u> text. <br >
                This is an <a href="#!">anchor</a> text.
                
            .col.sm-12.md-6
              each i in [1,2,3,4,5,6]
                #{'h'+i}= 'Header ' + i
        
        .code-sample
          pre.prettyprint.lang-html.
            &lt;p &gt; ... &lt;/p&gt; 
            &lt;b &gt; ... &lt;/b&gt; 
            &lt;i &gt; ... &lt;/i&gt; 
            &lt;u &gt; ... &lt;/u&gt; 
            &lt;a href="." &gt; ... &lt;/a&gt; 
            
            &lt;!-- Head lines --&gt; 
            &lt;h1 &gt; ... &lt;/h1&gt; 
            &lt;h2 &gt; ... &lt;/h2&gt; 
            &lt;h3 &gt; ... &lt;/h3&gt; 
            &lt;h4 &gt; ... &lt;/h4&gt; 
            &lt;h5 &gt; ... &lt;/h5&gt; 
            &lt;h6 &gt; ... &lt;/h6&gt; 
        
        hr
        
    section
      .container
        h2 Buttons
        
        p.
          Buttons are a really basic elements on any web page or app, and it 
          comes in two different flavors in Seeds. The standard is plain and 
          the colored has a vibrant primary color. In order to use the primary 
          just add the class name <code >.btn-primary</code>. If you need use 
          anchor (&lt;a /&gt;) as button, include the <code >.btn</code> class 
          name on it.
        
        br
        
        table 
          thead
            tr 
              th Class 
              th Detail
              th Remarks
          tbody 
            tr
              td.nowrap .btn
              td.nowrap &nbsp;
              td Makes anchors looks like buttons
            tr
              td.nowrap .btn-primary
              td.nowrap &nbsp;
              td Defines a colored button
        
        br
        
        h5 Examples
          
        .buttons.align-center 
          
          a.btn(href="#!") Anchor 
          button(type="button") Button element 
          input(type="button", value="Input button")
          
          br 
          
          a.btn.btn-primary(href="#!") Anchor 
          button.btn-primary(type="button") Button element 
          input.btn-primary(type="button", value="Input button")
          
          br 
          
        .code-sample
          pre.prettyprint.lang-html.
            &lt;!-- .btn class makes an anchor looks like a button --&gt; 
            &lt;a class="btn" href="..." &gt; ... &lt;/a&gt; 
            
            &lt;!-- default buttons and input[type="button"] --&gt;
            &lt;button type="button" href="..." &gt; ... &lt;/button&gt; 
            &lt;input type="button" href="..." &gt; ... &lt;/input&gt; 
            
            &lt;!-- .btn-primary makes buttons colored --&gt;
            &lt;a class="btn btn-primary" href="..." &gt; ... &lt;/a&gt; 
            &lt;button class="btn-primary" type="button" href="..." &gt; ... &lt;/button&gt; 
            &lt;input class="btn-primary" type="button" href="..." &gt; ... &lt;/input&gt; 

        hr
        
    section
      .container
        h2 Forms
        
        h5 Basic
        
        .grid
          .row
            .col.sm-12
            
              .field
                label(for="") This is a simple input text 
                input(type="text")
            
              .field
                label(for="") This is a simple input password 
                input(type="password")
            
              .field
                label(for="") This is a simple input email 
                input(type="email", placeholder="name@domain.tld")
            
              .field
                label(for="") This is a select/ dropdown 
                select
                  option(value="A") Option A
                  option(value="B") Option B
                  option(value="C") Option C
                  
              .field
                label(for="radio-sample") 
                  input(type="radio", id="radio-sample")
                  | This is a radio button
                  
              .field
                label(for="check-sample") 
                  input(type="checkbox", id="check-sample")
                  | This is a checkbox
                  
              .field
                label(for="") This is a simple textarea 
                textarea
                
        
        hr
        
    section
      .container
        h2 Lists
        
        p You can make your lists using <code >DL</code>, <code >UL</code> or <code >OL</code>.
        
        h5 Examples
        
        .grid
          .row
            .col.sm-12.md-6
              p Ordered
            
              ol
                li First item
                li Second item 
                  ol
                    li Nested first 
                    li Nested second ...
                li Third item
            
            .col.sm-12.md-6
              p Unordered
            
              ul
                li First item
                li Second item 
                  ul
                    li Nested first 
                    li Nested second ...
                li Third item
        
                
        .code-sample
          pre.prettyprint.lang-html.
            &lt;!-- replace OL by UL or DL for different list types --&gt; 
            &lt;ol &gt; 
              &lt;li &gt; ... &lt;/li&gt;
              &lt;li &gt; ... &lt;/li&gt;
              &lt;li &gt; ... &lt;/li&gt;
            &lt;/ol&gt; 
        
        hr
        
    section
      .container
        h2 Tables
        
        p &nbsp;
        
        h5 Examples
        
        p.camel-case
          b default
        
        - each className in ['', 'stripped', 'hovered', 'bordered']
          if className !== ''
            p.camel-case
              b= className
           
          table(class=className) 
            thead
              tr
                th Name 
                th Email
                th Phone
            tbody
              tr 
                td John Wayne
                td john@wayne.com 
                td 123-4567-8900
              tr 
                td John Wayne
                td john@wayne.com 
                td 123-4567-8900
              tr 
                td John Wayne
                td john@wayne.com 
                td 123-4567-8900
            tfoot
              tr
                td
                td
                td
                
          .code-sample
            pre.prettyprint.lang-html.
              &lt;table class="#{className}" &gt; 
                &lt;tbody &gt;
                  &lt;tr &gt;
                    &lt;td &gt; ... &lt;/td&gt;
                    &lt;td &gt; ... &lt;/td&gt;
                    &lt;td &gt; ... &lt;/td&gt;
                  &lt;/tr&gt;
                &lt;/tbody&gt;
              &lt;/table&gt; 
          
          br
        
        hr
        
    section
      .container
        h2 Media queries
        
        table 
          thead
            tr
              th Query 
              th Remarks
          tbody
            tr 
              td @media only screen and (min-width: 0px) {}
              td Mobile first queries
            tr 
              td @media only screen and (min-width: 320px) {}
              td Larger than mobile
            tr 
              td @media only screen and (min-width: 550px) {}
              td Larger than tablet
            tr 
              td @media only screen and (min-width: 960px) {}
              td Larger than desktop/laptop pc
        
        hr
        
    section
      .container
        h2 Utilities
        
        p. 
          Utilities are classes that can help you to easily show up your data 
          or content in a beatiful way. It can be used combined with other 
          available classes.

        br
        
        .grid
          .row
            .col.sm-12
              h5 Text alignment
              
              table 
                thead
                  tr 
                    th Class 
                    th Remarks
                tbody 
                  tr
                    td.nowrap .align-left
                    td Aligns on left
                  tr
                    td.nowrap .align-right
                    td Aligns on right
                  tr
                    td.nowrap .align-center
                    td Aligns on center
                  tr
                    td.nowrap .align-justify
                    td Aligns justified
              br
              
              p.align-left This is left aligned
              
              .code-sample
                pre.prettyprint.lang-html.
                  &lt;p class="align-left" &gt; ... &lt;/p&gt;
              
              br
              
              p.align-center This is center aligned 
              
              .code-sample
                pre.prettyprint.lang-html.
                  &lt;p class="align-center" &gt; ... &lt;/p&gt;
              
              br
              
              p.align-right This is right aligned 
              
              .code-sample
                pre.prettyprint.lang-html.
                  &lt;p class="align-right" &gt; ... &lt;/p&gt;
              
              br
              
              p.align-justify.
                This is justified. This is justified. This is justified. This is justified. 
                This is justified. This is justified. This is justified. This is justified. 
              
              .code-sample
                pre.prettyprint.lang-html.
                  &lt;p class="align-justify" &gt; ... &lt;/p&gt;
              
              br
          
          .row
            .col.sm-12    
              h5 Text transform 
              
              table 
                thead
                  tr 
                    th Class 
                    th Remarks
                tbody 
                  tr
                    td.nowrap .nowrap
                    td Forces the HTML to ignore white spaces when wrapping lines.
                  tr
                    td.nowrap .camel-case
                    td Capitalize the first character of any word
                  tr
                    td.nowrap .uc-first
                    td Capitalize the first character only from the first word
              
              br
              
              .code-sample.bg-white
                p.nowrap.
                  This text should not break when the screen width is smaller then 
                  the text length. 
              
              .code-sample
                pre.prettyprint.lang-html.
                  &lt;p class="nowrap" &gt; ... &lt;/p&gt;
              
              br
              
              p.camel-case.
                this text should be camel case. 
              
              .code-sample
                pre.prettyprint.lang-html.
                  &lt;p class="camel-case" &gt; ... &lt;/p&gt;
              
              br
              
              p.uc-first.
                only the first character of this text should be capitalized. 
              
              .code-sample
                pre.prettyprint.lang-html.
                  &lt;p class="uc-first" &gt; ... &lt;/p&gt;
            
            br
            
            .row
              .col.sm-12    
                h5 Hiding 
                
                table 
                  thead
                    tr 
                      th Class 
                      th Remarks
                  tbody 
                    tr
                      td.nowrap .hide
                      td Hide an element in any device.
                    tr
                      td.nowrap .hide-only-small
                      td Hide an element only on small devices only.
                    tr
                      td.nowrap .hide-on-medium-and-down
                      td Hide an element on all devices, except for large ones
            
                .code-sample
                  pre.prettyprint.lang-html.
                    &lt;!-- Hide on all devices --&gt; 
                    &lt;div class="hide" &gt; ... &lt;/div&gt;
                    
                    &lt;!-- Hide on small devices --&gt; 
                    &lt;div class="hide-only-small" &gt; ... &lt;/div&gt;
                    
                    &lt;!-- Hide on medium and small devices --&gt; 
                    &lt;div class="hide-on-medium-and-down" &gt; ... &lt;/div&gt;
            
            br
            
            .row
              .col.sm-12
                h5 Responsive image
                
                p. 
                  By default, all images are considered responsive and will adjust 
                  accordingly to the window size. In case you, for any sake, need a 
                  non responsive image, just add the class <code >.no-responsive</code>
                  on it.
                
                table 
                  thead
                    tr 
                      th Class 
                      th Detail
                      th Remarks
                  tbody 
                    tr
                      td.nowrap .no-responsive
                      td.nowrap &nbsp;
                      td Makes images non responsive
                    tr
                      td.nowrap .circle
                      td.nowrap &nbsp;
                      td Makes a small circle image
                    tr
                      td.nowrap .thumb
                      td.nowrap &nbsp;
                      td Makes a small square image
                
                br
                
                p.align-center 
                  img(src="http://placehold.it/800x600", alt="Sample of a responsive image")
                
                .code-sample
                  pre.prettyprint.lang-html.
                    &lt;img src="..." alt="..." &gt;
                
          br 
          
          .row
            .col.sm-12.md-6
              h5.align-center Circle image 
              
              p.align-center
                img.circle(src="http://placehold.it/100x100", alt="Circle image sample")
            
            .col.sm-12.md-6
              h5.align-center Thumbnail
              
              p.align-center
                img.thumb(src="http://placehold.it/100x100", alt="Thumbnail image sample")
          
          .row 
            .col.sm-12
              .code-sample
                pre.prettyprint.lang-html.
                  &lt;!-- makes a circle image --&gt; 
                  &lt;img class="circle" src="..." alt="..." &gt;
                  
                  &lt;!-- makes a square small image --&gt; 
                  &lt;img class="thumb" src="..." alt="..." &gt;
        
        hr
        
    section
      .container
        h2 Icons
        
        p.
          We're using <b>Ionic Icon Fonts</b> as our set of icons. It's free and 
          can be redistributed as well as Seed CSS.
          
        p. 
          Just to keep the flexibility, the icon set is not included on the 
          Seed CSS stylesheet files. You should import it from an external source. 
          We strongly recommend you to do it from Ionic CDN.
        
        p.
          In order to use those icons, add the following line to the HEAD tag of 
          any page you're using Seed CSS:
          
        .code-sample
          pre.prettyprint.lang-html.
            &lt;link rel="stylesheet" type="text/css" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"&gt;
        
        br
        
        .grid
          .row
            .col.sm-6.md-4.align-center
              i.icon.ion-ionic(title=".ion-ionic")
            .col.sm-6.md-4.align-center
              i.icon.ion-chevron-right(title=".ion-chevron-right")
            .col.sm-6.md-4.align-center
              i.icon.ion-paper-airplane(title=".ion-paper-airplane")
            .col.sm-6.md-4.align-center
              i.icon.ion-connection-bars(title=".ion-connection-bars")
            .col.sm-6.md-4.align-center
              i.icon.ion-card(title=".ion-card")
            .col.sm-6.md-4.align-center
              i.icon.ion-erlenmeyer-flask(title=".ion-erlenmeyer-flask")
          .row
            .col.sm-12.align-center
              span &hellip; and many other.
        
        br
        
        p 
          | To check all icons available, please refer to: 
          br
          a(href="http://ionicons.com/", target="_blank") http://ionicons.com/
        
        hr
        
    section
      .container
        h2 Showcase
        
        p 
          | Have you build a website or app using Seed CSS? Don't be shy and let me know. 
          br
          | Your creation can be included here, in the showcase. :)
        
        hr
        
    section
      .container
        h2 License
        
        p.
          This small and humble css framework is licensed under MIT. 
          Find the license itself below:
        
        .copyright-block
        
          p Copyright &copy; 2016, Rogerio Taques

          p. 
            Permission is hereby granted, free of charge, to any person obtaining 
            a copy of this software and associated documentation files 
            (the "Software"), to deal in the Software without restriction, 
            including without limitation the rights to use, copy, modify, merge, 
            publish, distribute, sublicense, and/or sell copies of the Software, 
            and to permit persons to whom the Software is furnished to do so, 
            subject to the following conditions:

          p. 
            The above copyright notice and this permission notice shall be included 
            in all copies or substantial portions of the Software.

          p. 
            THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, 
            EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF 
            MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. 
            IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY 
            CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, 
            TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE 
            SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
        
    footer 
      p.copyright &copy; 2016, Rogerio Taques
      p 
        | Need support, have suggestions or just would like to drop me a line?
        br
        a(href="https://github.com/rogeriotaques/seed-css/issues") Open an issue at Github
        
    script(src="//cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js")
