#sample-alerts
  h4 Alerts

  p.align-justify.
    Alerts are used to notify the users in many different situations. In <code  >seed-css</code>
    they come in 5 flavors (default, info, success, warning and danger). We chose to use such a
    naming style to make it easier for you pick up the one that most fit your case.

  .row 
    .col.sm-12.md-6
      .alerts
        p
          b .alert
        .alert This's a default alert

        br

        p
          b .alert.info
        .alert.info This's an info alert

        br

        p
          b .alert.success
        .alert.success This's a success alert

        br

        p
          b .alert.warning
        .alert.warning This's a warning alert

        br 

        p
          b .alert.danger
        .alert.danger This's a danger alert

    .col.sm-12.md-6.md-offset-1

      br
      br

      .code-sample
        pre.prettyprint.lang-html.
          &lt;!-- default --&gt;
          &lt;div class="alert" &gt;
            &lt;p &gt; The message...  &lt;/p&gt;
          &lt;/div&gt;

          &lt;!-- info --&gt;
          &lt;div class="alert info" &gt;
            &lt;p &gt; The message...  &lt;/p&gt;
          &lt;/div&gt;

          &lt;!-- success --&gt;
          &lt;div class="alert success" &gt;
            &lt;p &gt; The message...  &lt;/p&gt;
          &lt;/div&gt;

          &lt;!-- warning --&gt;
          &lt;div class="alert warning" &gt;
            &lt;p &gt; The message...  &lt;/p&gt;
          &lt;/div&gt;

          &lt;!-- danger --&gt;
          &lt;div class="alert danger" &gt;
            &lt;p &gt; The message...  &lt;/p&gt;
          &lt;/div&gt;
