
#sample-buttons
  h4 Buttons

  p.align-justify.
    Buttons are essential to any web page or web app, and they come in a couple of different 
    flavors in <code class="primary">seed-css</code>.  By simply adding the class <code >.btn</code> 
    to any <code >&lt;a/&gt;</code> or  <code >&lt;button/&gt;</code> you will make it looks like 
    a button. Adding the class <code >.btn-primary</code> it will become a primary button. 

  .alert.warning. 
    <b>NOTE:</b> From version <code>1.2.0</code> buttons are required to use the <code >.btn</code> class.

  .buttons.align-center

      h6.align-center Default (.btn)

      a.btn(href="#!") a.btn
      button.btn(type="button") button.btn
      input.btn(type="button", value="input.btn")

      br

      h6.align-center Colored (.btn.*color*)

      a.btn.primary(href="#!") .btn.primary
      a.btn.secondary(href="#!") .btn.secondary
      br 
      
      a.btn.red(href="#!") .btn.red 
      a.btn.orange(href="#!") .btn.orange
      br 

      a.btn.green(href="#!") .btn.green
      a.btn.purple(href="#!") .btn.purple
      br

      h6.align-center Link style (.btn.link)
      
      a.btn.link(href="#!") .btn.link

      h6.align-center Disabled (.disabled) or <code>disabled</code> property

      button.btn(type="button", disabled) .btn.disabled
      br

      h6.align-center Sizes

      a.btn.small(href="#!") .btn.small
      a.btn.medium(href="#!") .btn.medium
      br
      br 

  .code-sample
    pre.prettyprint.lang-html.
      &lt;!-- .btn class makes an anchor looks like a button --&gt;
      &lt;a class="btn" href="..." &gt; ... &lt;/a&gt;

      &lt;!-- default buttons and input[type="button"] --&gt;
      &lt;button type="button" class="btn" &gt; ... &lt;/button&gt;
      &lt;input type="button" class="btn" value="..." /&gt;

      &lt;!-- .btn-primary makes buttons colored --&gt;
      &lt;a class="btn btn-primary" href="..." &gt; ... &lt;/a&gt;
      &lt;a class="btn btn-red" href="..." &gt; ... &lt;/a&gt;
      &lt;a class="btn btn-green" href="..." &gt; ... &lt;/a&gt;

      &lt;!-- .btn-primary makes buttons on different sizes --&gt;
      &lt;a class="btn btn-medium" href="..." &gt; ... &lt;/a&gt;
      &lt;a class="btn btn-small" href="..." &gt; ... &lt;/a&gt;

      &lt;!-- .btn-primary makes disabled buttons --&gt;
      &lt;a class="btn disabled" href="..." &gt; ... &lt;/a&gt;
      &lt;button class="btn" disabled &gt; ... &lt;/button&gt;

  br

  table
    thead
      tr
        th Class
        th Detail
        th Remarks
    tbody
      tr
        td.nowrap .btn
        td.nowrap &nbsp;
        td Makes anchors looks like buttons
      tr
        td.nowrap .primary
        td.nowrap &nbsp;
        td Defines a 'primary' (blue) colored button
      tr
        td.nowrap .secondary
        td.nowrap &nbsp;
        td Defines a 'secondary' (soft blue) colored button
      tr
        td.nowrap .(*color*)
        td.nowrap &nbsp;
        td Defines a colored button. Colors can be: <code>red</code>, <code>orange</code>, <code>green</code> or <code>purple</code>
      tr
        td.nowrap .(*size*)
        td.nowrap &nbsp;
        td Defines a sized button. Sizes can be: <code>small</code> or <code>medium</code>. Default is <code>big</code>
      tr
        td.nowrap .disabled
        td.nowrap &nbsp;
        td Defines disabled buttons. Simply setting the <code>disabled</code> property will also make button looks like disabled
      tr
        td.nowrap .link
        td.nowrap &nbsp;
        td Defines link styled buttons, which means no borders or background colors.
