
#sample-colors
  h4 Colors

  p.align-justify.
    There are a few basic colors ready for use. The same colors can be applied on foreground (texts)
    or background of your elements. Check it out:

  table.hovered
    thead
      tr
        th Tag
        th Foreground class
        th Background class
        th Color
    tbody
      -var colorNameList = ['primary', 'red', 'orange', 'green', 'purple', 'grey', 'darkgrey', 'softgrey'];
      -var colorList = ['#387cfd', '#d32f2f', '#fb8c00', '#43a047', '#8e24aa', '#ccc', '#666', '#f5f5f5'];
      -for (var colorIndex in colorNameList)
        tr
          td
            span(class=colorNameList[colorIndex]+'-background').color-tag
          td
            code= '.' + colorNameList[colorIndex]
          td
            code= '.' + colorNameList[colorIndex] + '-background'
          td
            code= colorList[colorIndex]
