
#sample-colors
  h4 Colors

  p.align-justify.
    There are a few basic colors ready for use. The same colors can be applied on foreground (texts)
    or background of your elements. Check it out:

  table.hovered
    thead
      tr
        th Tag
        th Foreground class
        th Background class
    tbody
      -var colorList = ['primary', 'red', 'orange', 'green', 'purple', 'grey', 'darkgrey', 'softgrey'];
      -for (var colorIndex in colorList)
        tr
          td
            span(class=colorList[colorIndex]+'-background').color-tag
          td
            code= '.' + colorList[colorIndex]
          td
            code= '.' + colorList[colorIndex] + '-background'
