#sample-container

    h4 Container

    p.
        Containers are used to define an enclosed area with a
        <code >max-width</code> set to <code >1200px</code> on wide screens.

    .sample-container.align-center This's a container.

    .code-sample
        pre.prettyprint.lang-html.
            &lt;div class="container" &gt;&lt;/div&gt;
