
#sample-grid

    h4 Grid

    p.align-justify.
        Grids are commonly used to define "grid" based designs. The grid system is responsive,
        which means you can define the number of columns according to the screen size and it will
        adapts its width to best fit your content.

    .grid.sample
        #flexible-cols.row
            - each i in [1,2,3,4,5,6,7,8,9,10,11,12]
                .col.sm-1.align-center= i

    .align-center
        strong Have fun playing with columns!
        div
            button(type="button", disabled="true")#add-col.btn-small Add column
            button(type="button")#rem-col.btn-small Remove column

    br

    p.align-justify.
        Offsets are also available. To apply offsets, just use the class
        <code >*-offset-*</code> to your classname.


    .grid.sample
        .row
            .col.sm-6.sm-offset-6.md-6.md-offset-6.lg-6.lg-offset-6.align-center 1

    table
        thead
            tr
                th Class
                th Detail
                th Remarks
        tbody
            tr
                td.nowrap .grid
                td.nowrap &nbsp;
                td Defines the grid container
            tr
                td.nowrap .row
                td.nowrap &nbsp;
                td Defines each row of a grid container
            tr
                td.nowrap .col
                td.nowrap &nbsp;
                td Defines each column of a grid container
            tr
                td.nowrap .sm-*
                td.nowrap (1 ~ 12)
                td Defines a column size for small screens. It's used concatenated to <code >.col</code>
            tr
                td.nowrap .md-*
                td.nowrap (1 ~ 12)
                td Defines a column size for medium screens. It's used concatenated to <code >.col</code>
            tr
                td.nowrap .lg-*
                td.nowrap (1 ~ 12)
                td Defines a column size for large screens. It's used concatenated to <code >.col</code>
            tr
                td.nowrap .xl-*
                td.nowrap (1 ~ 12)
                td Defines a column size for extra-large screens. It's used concatenated to <code >.col</code>
            tr
                td.nowrap *-offset-*
                td.nowrap (sm, md and lg) and (1 ~ 12)
                td Creates an offset of columns. It's used concatenated to <code >.col</code> and its screen size. E.g: <code>.md-offset-2</code>.

    .code-sample
        pre.prettyprint.lang-html.
            &lt;!-- This's a grid --&gt;
            &lt;div class="grid" &gt;
                &lt;!-- This's a row. You can have as many rows as you need. --&gt;
                &lt;div class="row" &gt;
                &lt;!-- This's a column. You can have up to 12 columns in a row. --&gt;
                &lt;div class="col sm-12 md-6 lg-3" &gt; ... &lt;/div&gt;
                &lt;div class="col sm-12 md-6 lg-9" &gt; ... &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;