
#sample-icons
  h4 Icons

  p.align-justify.
    We're using <b>Ionic Icon Fonts</b> as our set of icons. It's free and
    can be redistributed as well as <code class="primary">seed-css</code>.

  p.align-justify.
    Just to keep the flexibility, the icon set is not included on the
    <code class="primary">seed-css</code> stylesheet files. You should
    import it from an external source. If you would like to keep up to date
    to the latest versions from Ion icons, we strongly recommend you to get
    it from Ionic CDN.

  p.align-justify.
    In order to use those icons, add the following line to the HEAD tag of
    any page you're using <code class="primary">seed-css</code>:

  p.align-center
    a(href="http://ionicons.com/", target="_blank").btn.btn-primary Go to IonIcons
