
#sample-lists
  h4 Lists

  p.align-justify.
    You can make your lists using <code >DL</code>, <code >UL</code> or <code >OL</code>.
    No special classes are necessary. The style will be applied to the natural element.

  .grid
    .row
      .col.sm-12.md-6
        p Ordered

        ol
          li First item
          li Second item
            ol
              li Nested first
              li Nested second ...
          li Third item

      .col.sm-12.md-6
        p Unordered

        ul
          li First item
          li Second item
            ul
              li Nested first
              li Nested second ...
          li Third item


  .code-sample
    pre.prettyprint.lang-html.
      &lt;!-- replace OL by UL or DL for different list types --&gt;
      &lt;ol &gt;
        &lt;li &gt; ... &lt;/li&gt;
        &lt;li &gt; ... &lt;/li&gt;
        &lt;li &gt; ... &lt;/li&gt;
      &lt;/ol&gt;
