#sample-modals
  h4 Modals

  p.
    Modals are an essential visual component for a best user experience, allowing the website either to 
    make interactions to its visitor or request imediate feedback.

  p Coming soon ...
