#sample-modals
  h4 Modals

  p.
    Modals are an essential visual component for a best user experience, allowing the website either to 
    make interactions to its visitor or request imediate feedback.

  .sample-container.auto-height 

    .align-center
      button.btn.btn-primary(type="button", role="modal", data-modal-id="modal") Modal Me

    #modal(style="display: none;").modal.hidden
      .modal-window 
        .modal-header
          h3.modal-title Hello world 
          a(href="#", role="modal-dismiss").dismiss
            i.ion-close
        .modal-body    
          p This' the body of my overlay modal window.

  .code-sample
    pre.prettyprint.lang-html.
      &lt;!-- The trigger --&gt;
      &lt;button type="button" role="modal" data-modal-id="modal" class="btn-primary" &gt; 
        Open modal
      &lt;/button&gt;

      &lt;!-- The modal --&gt;
      &lt;div style="display: none;" class="modal hidden" &gt;
        &lt;div class="modal-window" &gt;
          &lt;div class="modal-header" &gt;
            &lt;h3 class="modal-title" &gt;Hello world&lt;/h3&gt;
            &lt;a href="#" role="modal-dismiss" class="dismiss" &gt;
              &lt;i class="ion-close" &gt;&lt;/i&gt;
            &lt;/a&gt;
          &lt;/div&gt;
          &lt;div class="modal-body" &gt;
            &lt;p &gt;This' the body of my overlay modal window.&lt;/p&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;

  p.
    Exceptionally the overlay modal component works better with javascript support, which will create a much 
    better user experience. To make it easier <span class="primary">seed-css</span> 
    has a plug-and-play javascript library that you can use, as follows:

  h6 When using Node JS:

  .code-sample
    pre.prettyprint.lang-javascript.
      // Import 
      var modal = require('seed-css/seed-css.js');

      // Initialize 
      modal();

      // Optionally assigning it to a variable
      // you can programatically show and hide the modal
      var myModal = modal(); 

      myModal.show('#modal');
      myModal.hide('#modal');

  h6 When using Vanilla JS:

  p First download the javascript library <a href="#library-download" class="spy ignore" >here</a>. 
  p Then, include the following code to your HTML page, right before close the <code >BODY</code> tag.

  .code-sample 
    pre.prettyprint.lang-html.
      &lt;script src="seed-css.js" &gt;&lt;/script&gt;

  .code-sample
    pre.prettyprint.lang-javascript.
      if (typeof modal !== 'undefined') {
        modal();
        
        // Optionally assigning it to a variable
        // you can programatically show and hide the modal
        var myModal = modal(); 

        myModal.show('#modal');
        myModal.hide('#modal');
      }
