#sample-offcanvas
  h4 Off canvas menu

  p.align-justify.
    An off-canvas is that kind of component very useful to accomodate hidden navigation menus, 
    optionally visible when the page is seeing on desktops, but essential when the 
    viewport is as small as a mobile device.

  .sample-container.auto-height 
    .row 
      .col.md-6.align-center
        button.btn.btn-primary(type="button", role="offcanvas", data-id="sidenav") 
          span Click me to 
          span.open Open
          span.close Close

      .col.md-5.px-20
        .field.seed-select
          select#offset-canvas-inset 
            option(value="aside") Aside (default)
            option(value="overlay") Overlay
