#sample-offset-canvas
  h4 Offset Canvas

  .sample-container.auto-height 
    .align-center
      .container
        .field.seed-select
          select#offset-canvas-inset 
            option(value="overlay") Overlay (default)
            option(value="inset") Fixed to the page

      button.btn.btn-primary(type="button", role="offset-canvas", data-id="sidenav") Click Me
