#sample-progress
  h4 Progress bar and spinner

  p.
    Progress bar and spinner are important elements for UX. If you use it 
    accordingly, it's gonna pass the imediate response to the user.

  h6 Progress bar

  p Fixed progress 
  .align-center
    .progress-bar
      .bar(style="width: 60%")
      .label 60%

  p Undefined progress 
  .align-center
    .progress-bar.undefined
      .bar
      .label &nbsp;

  br

  .code-sample
    pre.prettyprint.lang-html.
      &lt;!-- Fixed progress --&gt;
      &lt;div class="progress-bar" &gt;
        &lt;div class="bar" &gt;&lt;/div&gt;
        &lt;label &gt;60%&lt;/label&gt;
      &lt;/div&gt;

      &lt;!-- Undefined progress --&gt;
      &lt;div class="progress-bar undefined" &gt;
        &lt;div class="bar" &gt;&lt;/div&gt;
        &lt;label &gt;60%&lt;/label&gt;
      &lt;/div&gt;

  h6 Spinner 

  div
    include _spinner
