#sample-progress
  h4 Progress bar and spinner

  p.
    Progress bar and spinner are important elements for UX. If you use it 
    accordingly, it's gonna pass the imediate response to the user.

  h6 Progress bar

  p Coming soon ...

  h6 Spinner 

  p Coming soon ...
