#sample-progress
  h4 Progress bar and spinner

  p.
    Progress bar and spinner are important elements for UX. If you use it 
    accordingly, it's gonna pass the imediate response to the user.

  h6 Progress bar

  p Fixed progress 
  .align-center
    .progress-bar
      .bar(style="width: 60%")
      .label 60%

  p Undefined progress 
  .align-center
    .progress-bar.undefined
      .bar
      .label &nbsp;

  h6 Spinner 

  p Coming soon ...
