.grid
  .row
    .col.md-4
      h6 Default

      .spinner
        .circle
    .col.md-4
      h6 Medium

      .spinner.medium
        .circle
    .col.md-4
      h6 Big

      .spinner.big
        .circle

br

.code-sample
  pre.prettyprint.lang-html.
    &lt;!-- Default --&gt;
    &lt;div class="spinner" &gt;
      &lt;div class="circle" &gt;&lt;/div&gt;
    &lt;/div&gt;

    &lt;!-- Medium --&gt;
    &lt;div class="spinner medium" &gt;
      &lt;div class="circle" &gt;&lt;/div&gt;
    &lt;/div&gt;

    &lt;!-- Big --&gt;
    &lt;div class="spinner big" &gt;
      &lt;div class="circle" &gt;&lt;/div&gt;
    &lt;/div&gt;
