#sample-tooltips
  h4 Tooltips

  p.align-justify.
    Tooltips are an important part of UX, where you can give user additional information about
    a component  placed on his/her screen. <code >Seed-css</code> gives you a
    simple but very efficient tooltip, which doesn't even need javascript.

  br 
  br 

  .tooltips
    .grid 
      .row 
        .col.md-3.sm-6.align-center
          span(tooltip="Right tooltip").with-tooltip.right Hover here!
        .col.md-3.sm-6.align-center
          span(tooltip="Top tooltip").with-tooltip.top Hover here!
        .col.md-3.sm-6.align-center
          span(tooltip="Bottom tooltip").with-tooltip.bottom Hover here!
        .col.md-3.sm-6.align-center
          span(tooltip="Left tooltip.").with-tooltip.left Hover here!

    //- .grid
    //-   .row
    //-     .col.md-3.sm-6
    //-       p.with-tooltip.show.align-center
    //-        span ...
    //-        span.tooltip.top Top tooltip
    //-     .col.md-3.sm-6
    //-       p.with-tooltip.show.align-center
    //-        span ...
    //-        span.tooltip.right Right tooltip
    //-     .col.md-3.sm-6
    //-       p.with-tooltip.show.align-center
    //-        span ...
    //-        span.tooltip Bottom tooltip
    //-     .col.md-3.sm-6
    //-       p.with-tooltip.show.align-center
    //-        span ...
    //-        span.tooltip.left Left tooltip

  br

  .code-sample
    pre.prettyprint.lang-html.
      &lt;!-- top --&gt;
      &lt;div class="with-tooltip" &gt;
        ...
        &lt;span class="tooltip top" &gt; ...  &lt;/span&gt;
      &lt;/div&gt;

      &lt;!-- right --&gt;
      &lt;div class="with-tooltip" &gt;
        ...
        &lt;span class="tooltip right" &gt; ...  &lt;/span&gt;
      &lt;/div&gt;

      &lt;!-- bottom (default) --&gt;
      &lt;div class="with-tooltip" &gt;
        ...
        &lt;span class="tooltip" &gt; ...  &lt;/span&gt;
      &lt;/div&gt;

      &lt;!-- left --&gt;
      &lt;div class="with-tooltip" &gt;
        ...
        &lt;span class="tooltip left" &gt; ...  &lt;/span&gt;
      &lt;/div&gt;
