/** Base **/

* {
  padding: 0;
  margin: 0;
  outline: none;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

html {
  font-size: 62.5%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  @include rem(font-size, 15px);
  @include rem(line-height, 24px);
  font: {
    weight: 400;
    family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  color: #222;

}

p {
  margin: {
    top: $margin;
    bottom: $margin * 2;
  }
}

hr {
  margin: ($margin * 4) ($margin * 2);
  border: {
    width: 0;
    collapse: collapse;
    bottom: $border dashed $shadow;
  }

  &.solid {
    border-bottom: $border solid $shadow;
  }

  &.dotted {
    border-bottom: $border dotted $shadow;
  }
}

a:not(.btn),
a:not(.btn):active,
a:not(.btn):visited {
  color: $primary;
}

.container {
  width: 100%;
  margin: $margin auto;
  max-width: $small;

  @media #{$medium-and-up} {
    max-width: $medium;
  }

  @media #{$large-and-up} {
    max-width: $large;
  }
}
