// screen sizes
$small: 320px;
$medium: 550px;
$large: 960px;

// media queries
$small-and-up: 'only screen and (min-width: #{$small + 5})';
$medium-and-up: 'only screen and (min-width: #{$medium + 5})';
$large-and-up: 'only screen and (min-width: #{$large + 5})';

// default variables
$height: 45px;
$margin: 10px;
$padding: 10px;
$radius: 5px;

// colors
$primary: #2270FF;
