/**  THIS BLOCK IS SPECIFC FOR SEED WEBSITE **/

@import "includes/variables";
@import "includes/mixins";

header {
  padding: $padding * 2 ;
  border-bottom: $border solid $primary;
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5) ), url('../images/css-code.jpeg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-attachment: fixed;
  backface-visibility: visible;
  color: white;

  h1,
  p {
    margin: 0;
  }
}

section {
  &.main {
    & > .container {
      min-height: calc(100% - 270px);
      min-height: calc(100vh - 270px);
      position: relative;
    }
  }

  &.page-navbar {
    position: relative;
    background-color: rgba(255,255,255,.95);
    width: 100%;
    z-index: 10;
    border: {
      // top: $border solid $grey;
      bottom: $border solid $grey;
    };
    @include rem(line-height, 46px);

    &.stacked {
      position: fixed;
      top: 0;
    }

    & > .container {
      margin: {
        top: 0;
        bottom: 0;
      };
      @include rem(line-height, 46px);
    }

    nav {
      padding: 0 $padding / 2;

      ul {
        padding: 0;
        margin: 0;
      }

      li {
        list-style: none;
        display: inline-block;
        margin-right: $margin / 2;
        @include rem(font-size, 14px);
        @include rem(line-height, 16px);
        height: 100%;

        @media #{$medium-and-up} {
          @include rem(font-size, 16px);
          @include rem(line-height, 46px);
        }

        a {
          display: block;
          text-decoration: none;
          color: #333 !important;
          @include rem(padding, 0 5px);

          &:hover {
            background-color: $primary;
            color: #fff !important;
          }
        }
      }
    }
  }
}

footer {
  padding: ($padding * 2) 0;
  text-align: center;
  margin-top: $margin * 5;
  background-color: $darken-grey;
  color: white;

  & > p {
    & > a,
    & > a:visited,
    & > a:active {
      color: whitesmoke !important;
    }
  }
}

.container {
  .sample-container {
    width: 100%;
    height: $height;
    line-height: $height;
    background: #f5f5f5;
  }
}

.grid.sample {
  & > .row {
    & > .col {
      white-space: nowrap;
      overflow: hidden;
      background-color: #f5f5f5;

      &:not(:first-child) {
        // border-left: 4px solid white;
        outline: 4px solid white;
      }

      & > span {
        @include rem(line-height, 45px);
      }
    }
  }
}

code {
  color: darkblue;
  border: thin solid #888;
  padding: 2px;
  white-space: nowrap;
}

.code-sample {
  margin: 20px 0;
  overflow: {
    y: hidden;
    x: auto;
  };
  background-color: $grey;

  &.bg-white {
    background-color: white;
  }

  & > .prettyprint {
    border: 0;
    padding: 20px 10px;
    width: 100%;
  }
}

.copyright-block {
  background-color: #e5e5e5;
  padding: $padding ($padding * 2) ;
  text-align: justify;
}

.icon {
  color: lighten($primary, 10%);
  @include rem(font-size, 60px);

  & + span {
    @include rem(font-size, 12px);
    display: block;
  }
}

td {
  & > pre {
    &.prettyprint {
      border: 0;
    }
  }
}

/**  THIS BLOCK IS SPECIFC FOR SEED WEBSITE **/
