section#donate 
  .container 
    h2 Donate

    p Make a donation and help this project growth.

    .grid 
      .row 
        .col.md-6 
          h5 Donating money

          ul
            li
              a(href="https://www.paypal.me/abtzlabs", target="_blank") Donate whatever you want via <b >Paypal</b>
            li 
              a(href="https://www.patreon.com/bePatron?u=8642275", target="_blank") Become a <b>Patron</b>!

        .col.md-6 
          h5 Donating time

          ul 
            li Help improving this page 
            li Help testing and reporting bugs 
            li Help fixing bugs or implementing missing features 

          br

          p.
            Check the source-code on <a href="https://github.com/abtzlabs/seed-css" target="_blank">Github</a>, 
            fork or clone the project and submit your <i>pull-requests</i>. I'll review, discuss it as needed with you 
            and approve and merge as soon as possible.
