aside#sidenav.offset-canvas
  h3 Voilà!
  
  p This is an offset canvas panel! 

  p.align-center
    img(src="https://picsum.photos/800/600?random", alt="Sample of a responsive image")

  p.align-center
    img(src="https://picsum.photos/g/800/600", alt="Sample of a responsive image")

  p.align-justify.
    It is that kind of component very useful to accomodate hidden navigation menus, 
    optionally visible when the page is seeing on desktops, but essential when the 
    viewport is as small as a mobile device.

  br

  p.align-center 
    a(href="#", role="offset-canvas-trigger").btn Click here to close
