h3 Voilà!

p This is an off-canvas menu! Place here any content you need.

nav 
  ul 
    li 
      a(href="#") Link 1
    li 
      a(href="#") Link 2
    li 
      a(href="#") Link 3
    li 
      a(href="#") Link 4

p.align-center
  img(src="https://picsum.photos/800/600?random", alt="Sample of a responsive image")

p.align-justify.
  An off-canvas is that kind of component very useful to accomodate hidden navigation menus, 
  optionally visible when the page is seeing on desktops, but essential when the 
  viewport is as small as a mobile device.

br

p.align-center 
  a(href="#", role="offcanvas", data-id="sidenav").btn Click here to close
