section#examples
  .container
    h2#examples-basic Basic

    .grid
      .row
        //- .col.md-8.lg-9
        .col
          //- contents

          include ../components/_container
          include ../components/_grid
          include ../components/_images
          include ../components/_typography
          include ../components/_media-queries
          //- include ../components/_icons
          include ../components/_colors

        //- .col.md-4.lg-3.hide-only-small.relpos
        //-   //- menu

        //-   nav.samples-nav(data-attach="#sample-container", data-limit="#examples-components")
        //-     h5 The basic
        //-     ul.list
        //-       li.item
        //-         a(href="#sample-container").spy Container
        //-       li.item
        //-         a(href="#sample-grid").spy Grid
        //-       li.item
        //-         a(href="#sample-responsive-images").spy Responsive images
        //-       li.item
        //-         a(href="#sample-typography").spy Typography
        //-       li.item
        //-         a(href="#sample-media-queries").spy Media queries
        //-       li.item
        //-         a(href="#sample-icons").spy Icons
        //-       li.item
        //-         a(href="#sample-colors").spy Colors
        //-       li.item
        //-         a(href="#sample-alerts").spy.ignore
        //-           span Check the components &nbsp;
        //-           span.ion-arrow-down-c

    h2#examples-components Components

    .grid
      .row
        //- .col.md-8.lg-9
        .col
          //- contents

          include ../components/_alerts
          include ../components/_buttons
          include ../components/_cards
          include ../components/_forms
          include ../components/_modals
          include ../components/_progress
          include ../components/_spinner
          //- include ../components/_side-panel
          include ../components/_tables
          include ../components/_tooltips
          include ../components/_utilities

        .col.md-4.lg-3.hide-only-small.relpos
          //- menu

          //- nav.samples-nav(data-attach="#sample-alerts", data-limit="#library-download")
          //-   h5 Components

          //-   ul.list
          //-     li.item
          //-       a(href="#sample-colors").spy.ignore
          //-         span Check the basic &nbsp;
          //-         span.ion-arrow-up-c
          //-     li.item
          //-       a(href="#sample-alerts").spy Alerts
          //-     li.item
          //-       a(href="#sample-buttons").spy Buttons
          //-     li.item
          //-       a(href="#sample-cards").spy Cards
          //-     li.item
          //-       a(href="#sample-form").spy Form
          //-     li.item
          //-       a(href="#sample-lists").spy Lists
          //-     li.item
          //-       a(href="#sample-modals").spy Modals
          //-     li.item
          //-       a(href="#sample-progress").spy Progress bar
          //-     li.item
          //-       a(href="#sample-side-panel").spy Side panel
          //-     li.item
          //-       a(href="#sample-tables").spy Tables
          //-     li.item
          //-       a(href="#sample-tooltips").spy Tooltip
          //-     li.item
          //-       a(href="#sample-utilities").spy Utilities
