footer
  p.copyright.align-center &copy; 2016-{%year%}, Rogerio Taques.

  p.align-center
    span Found a bug or would like to help or give suggestions? 
    a(href="https://github.com/abtzlabs/seed-css/issues", style="color: white;") Open an issue
