footer.align-center
  p.copyright &copy; 2016-{%year%}, Rogerio Taques.

  .container
    p.px-50.
      <code >Seed-CSS</code> has started as a side-project and a personal boilerplate for my own projects, however, 
      I decided to make it an open-source after some of my friends start requesting me to use it. Now, it's available 
      under the MIT license.

  p
    span Found a bug, would like to help or give a suggestion? 
    a(href="https://github.com/abtzlabs/seed-css/issues") Open an issue
