header
  .container.align-center
    h1 
      span Seed CSS
      span#release {%version%}

    p A light-weight, mobile first and responsive CSS boilerplate.
      

    .cta
      a.btn.btn-primary(href="https://github.com/rogeriotaques/seed-css/archive/develop.zip")
        span DOWNLOAD

      a.btn.btn-purple(href="#donate")
        span DONATE

    p <span class="highlight">This page design is proudly based on Seed CSS</span><br>Scroll down for more.

    div
      span(title="Scroll down for more ...").ion-chevron-down.scroll-down-for-more
