section#library-download
  .container
    h2 JavaScript Library Download

    p.align-justify.
      Basically, <code class="primary">seed-css</code> doesn't have any javascript dependency 
      to be applied to your website or application, since all its features are implemented using 
      pure CSS. But, there're two exceptions that I've decided to create in order to create a 
      better user experience.

    p.align-justify.
      Anyway, even though for these two special cases, the <code class="primary">seed-css</code> 
      javascript library doesn't have any special dependency (e.g: jQuery or similar). It's written 
      in <i>Vanilla JS</i> and is also exported to NodeJS.

    .align-center
      a(href="https://github.com/rogeriotaques/seed-css/releases/latest").btn.btn-primary DOWNLOAD
