section#library-download
  .container
    h2 JavaScript Library Download

    p.align-justify.
      As a general rule, <code>seed-css</code> is not JavaScript dependant because it is implemented 
      purely in CSS (using Sass), however, there are a few exceptions created in order to deliver a 
      high level experience to your visitors/ users. Any component which has the (optional) JavaScript 
      dependence has it written on its own section.

    .align-center
      a(href="https://github.com/rogeriotaques/seed-css/releases/latest").btn.secondary GET THE JAVASCRIPT HERE
      br 
      span It is plug-and-play and dependecy free.
