main
  br

  .container.align-center
    h2 Why you're gonna love it?
    p  It's made for modern browsers, not intrusive and lightweight.

    .grid.highlight
      .row
        .col.md-4.align-center
          h3
            i.ion-speedometer
            br
            | Easy to start

          p.
            Get started to your projects with a very small footprint
            CSS boilerplate like this.

        .col.md-4.align-center

          h3
            i.ion-leaf
            br
            | Light-weight

          p.
            Just <b>11kb</b> of CSS your app needs to load for a
            mobile first and responsive design.

        .col.md-4.align-center
          h3
            i.ion-settings
            br
            | Based on Sass

          p.
            All written on Sass, what means you can easily customize it
            as much as you need.
