section#contribute 
  .container 
    .reveal.animated.animated-once
      h2.align-center Contributing

    p.lead This is an open-source project and you can freely contribute. 
    p.lead By contributing you will help me to improve the code-base and make <b >seed-css</b> even better to other developers like us.

    .row 
      .col.md-5
        h5 How to contribute?

        ul 
          li Improving this page; 
          li Testing and reporting bugs; 
          li Fixing bugs or implementing missing features; 

        p.align-justify.
          Check the source-code on <a href="https://github.com/abtzlabs/seed-css" target="_blank">Github</a>, 
          fork the project and submit your <b>pull-requests</b>. I'll review, discuss it as needed with you 
          and approve and merge as soon as possible.

      .col.md-6.md-offset-1
        h5 Don't know coding?

        p.
          No worries! If you're not confident coding and think you cannot help much on that way, 
          yet still wanna contribute in some way, you can help us donating any amout of money!

        p.align-center 
          a(target="_blank", href="https://paypal.me/abtzlabs/5USD").btn.bmc
            img(src="https://www.buymeacoffee.com/assets/img/BMC-btn-logo.svg",alt="Buy me a coffee.")
            span(style="margin-left:5px") Buy me a coffee.

          //- a(href="https://www.buymeacoffee.com/rogeriotaques", target="_blank").btn.red Buy me a <b >Coffee</b>
          //- a(href="https://www.paypal.me/abtzlabs", target="_blank").btn.secondary Donate via <b >Paypal</b>
          //- a(href="https://www.patreon.com/bePatron?u=8642275", target="_blank").btn.red Be a <b>Patron</b>!
