section#contribute 
  .container 
    .reveal.animated.animated-once
      h2 Contributing

    p This is an open-source project and you can freely contribute. 
    p By contributing you will help us to improve the code-base and make <code >seed-css</code> even better to other developers like us.

    .row 
      .col.md-5
        h5 What to contribute?

        ul 
          li Help improving this page; 
          li Help testing and reporting bugs; 
          li Help fixing bugs or implementing missing features; 

        p.align-justify.
          Check the source-code on <a href="https://github.com/abtzlabs/seed-css" target="_blank">Github</a>, 
          fork the project and submit your <code>pull-requests</code>. I'll review, discuss it as needed with you 
          and approve and merge as soon as possible.

      .col.md-6.md-offset-1
        h5 Don't know coding?

        p.
          No worries! If you're not confident coding and think you cannot help much on that way, 
          yet still wanna contribute in some way, you can help us donating any amout of money!

        p.align-center 
          a(href="https://www.paypal.me/abtzlabs", target="_blank").btn.secondary Donate via <b >Paypal</b>
          a(href="https://www.patreon.com/bePatron?u=8642275", target="_blank").btn.red Be a <b>Patron</b>!
