section#examples
  .container
    h2#examples-basic The basic

    .row  
      .col.md-6.px-20
        p.lead.
          This is the foundation of <code >seed-css</code>, in other words, the most fundamental features from this boilerplate.

      .col.md-6.px-20
        p.lead.
          By design, <code >seed-css</code> basic comes with a <b >container</b>, <b >grid</b>, <b >responsive images</b>,
          <b >typography</b>, pre-defined <b >media queries</b> and a <b >color</b> scheme. And even though it looks kinda 
          few things, it lonely can help you a lot to speed up a website creation.

    
    .align-center.my-40
      span 。。。 

    include ../components/_container
    include ../components/_grid
    include ../components/_images
    include ../components/_typography
    include ../components/_media-queries
    include ../components/_icons
    include ../components/_colors

    h2#examples-components Components

    include ../components/_alerts
    include ../components/_badges
    include ../components/_buttons
    include ../components/_cards
    include ../components/_forms
    include ../components/_modals
    include ../components/_navs
    include ../components/_offcanvas
    include ../components/_progress
    include ../components/_spinner
    include ../components/_tables
    include ../components/_tooltips
    
    h2#examples-utilities Utilities
    
    include ../components/_utilities
