.searchbar.sticky.grey-background.with-shadow
  .container.my-0 
    .field 
      input(type="search", placeholder="Search the documentation in this page ...")#page-search.with-shadow
      span(data-eva="search-outline", data-eva-fill="#cccccc").search-icon

section#examples
  .container

    .fadeInUp.animated.animated-once
      h2#examples-basic.align-center The basic

    .row.stretch  
      .col.sm-12
        p.lead.align-justify.
          This is the foundation of <b >seed-css</b>.  In other words, it is the most fundamental features from this boilerplate.
          By design, the basic comes with a <span class="primary" >container</span>, <span class="primary" >grid</span>, <span class="primary" >responsive images</span>, <span class="primary" >
          typography</span>, pre-defined <span class="primary" >media queries</span> and a <span class="primary" >color</span> scheme. Even though it looks kinda 
          few things, it lonely can help you a lot to speed up the development of a website or app.

    
    .align-center.my-40
      span 。。。 

    include ../components/_container
    
    .align-center.my-40
      span 。。。 
    
    include ../components/_grid
    
    .align-center.my-40
      span 。。。 
    
    include ../components/_images
    
    .align-center.my-40
      span 。。。 
    
    include ../components/_typography
    
    .align-center.my-40
      span 。。。 
    
    include ../components/_media-queries
    
    .align-center.my-40
      span 。。。 
    
    include ../components/_icons
    
    .align-center.my-40
      span 。。。 
    
    include ../components/_colors

    .align-center.my-40
      span 。。。 

    .fadeInUp.animated.animated-once
      h2#examples-components.align-center Components

    include ../components/_alerts
    
    .align-center.my-40
      span 。。。 
    
    include ../components/_badges
    
    .align-center.my-40
      span 。。。 
    
    include ../components/_buttons
    
    .align-center.my-40
      span 。。。 
    
    include ../components/_cards
    
    .align-center.my-40
      span 。。。 
    
    include ../components/_forms
    
    .align-center.my-40
      span 。。。 
    
    include ../components/_modals
    
    .align-center.my-40
      span 。。。 
    
    include ../components/_navs
    
    .align-center.my-40
      span 。。。 
    
    include ../components/_offcanvas
    
    .align-center.my-40
      span 。。。 
    
    include ../components/_progress
    
    .align-center.my-40
      span 。。。 
    
    include ../components/_spinner
    
    .align-center.my-40
      span 。。。 
    
    include ../components/_tables
    
    .align-center.my-40
      span 。。。 
    
    include ../components/_tooltips

    .align-center.my-40
      span 。。。
    
    .fadeInUp.animated.animated-once.fast
      h2#examples-utilities.align-center Utilities
    
    include ../components/_utilities
