h3 Voilà!

p This is an off-canvas menu! Place here any content you need.

nav.vertical 
  ul
    li 
      a(href="#get-started", role="offcanvas", data-id="sidenav").smooth Get started
    li 
      a(href="#examples-basic", role="offcanvas", data-id="sidenav").smooth Basic
    li 
      a(href="#examples-components", role="offcanvas", data-id="sidenav").smooth Components
    li 
      a(href="#examples-utilities", role="offcanvas", data-id="sidenav").smooth Utilities
    li 
      a(href="#library-download", role="offcanvas", data-id="sidenav").smooth JS Lib
    li 
      a(href="#license", role="offcanvas", data-id="sidenav").smooth License
    li 
      a(href="#contribute", role="offcanvas", data-id="sidenav").smooth Contributing

br 

p.align-center
  img(src="https://picsum.photos/800/600?random", alt="Sample of a responsive image")

br

p.align-center 
  a(href="#", role="offcanvas", data-id="sidenav").btn Click here to close
