section#examples
  .container
    h2#examples-basic The basic

    .row  
      .col.md-6.px-20
        p.lead.
          This is the foundation of <code >seed-css</code>, in other words, the most fundamental features from this boilerplate.

      .col.md-6.px-20
        p.lead.
          By design, <code >seed-css</code> basic comes with a <b >container</b>, <b >grid</b>, <b >responsive images</b>,
          <b >typography</b>, pre-defined <b >media queries</b> and a <b >color</b> scheme. And even though it looks kinda 
          few things, it lonely can help you a lot to speed up a website creation.

    
    .align-center.my-40
      span 。。。 

    include ../components/_container
    include ../components/_grid
    include ../components/_images
    include ../components/_typography
    include ../components/_media-queries
    include ../components/_icons
    include ../components/_colors

    .align-center 
      span 。。。 


    h2#examples-components Components

    .grid
      .row
        //- .col.md-8.lg-9
        .col
          //- contents

          include ../components/_alerts
          include ../components/_badges
          include ../components/_buttons
          include ../components/_cards
          include ../components/_forms
          include ../components/_modals
          include ../components/_navs
          include ../components/_offcanvas
          include ../components/_progress
          include ../components/_spinner
          include ../components/_tables
          include ../components/_tooltips
          include ../components/_utilities

        .col.md-4.lg-3.hide-only-small.relpos
          //- menu

          //- nav.samples-nav(data-attach="#sample-alerts", data-limit="#library-download")
          //-   h5 Components

          //-   ul.list
          //-     li.item
          //-       a(href="#sample-colors").spy.ignore
          //-         span Check the basic &nbsp;
          //-         span.ion-arrow-up-c
          //-     li.item
          //-       a(href="#sample-alerts").spy Alerts
          //-     li.item
          //-       a(href="#sample-buttons").spy Buttons
          //-     li.item
          //-       a(href="#sample-cards").spy Cards
          //-     li.item
          //-       a(href="#sample-form").spy Form
          //-     li.item
          //-       a(href="#sample-lists").spy Lists
          //-     li.item
          //-       a(href="#sample-modals").spy Modals
          //-     li.item
          //-       a(href="#sample-progress").spy Progress bar
          //-     li.item
          //-       a(href="#sample-side-panel").spy Side panel
          //-     li.item
          //-       a(href="#sample-tables").spy Tables
          //-     li.item
          //-       a(href="#sample-tooltips").spy Tooltip
          //-     li.item
          //-       a(href="#sample-utilities").spy Utilities
