h3 Voilà!

p This is an off-canvas menu! Place here any content you need.

nav.vertical 
  ul
    li 
      a(href="#get-started").smooth Get started
    li 
      a(href="#examples-basic").smooth Basic
    li 
      a(href="#examples-components").smooth Components
    li 
      a(href="#examples-utilities").smooth Utilities
    li 
      a(href="#library-download").smooth JS Lib
    li 
      a(href="#license").smooth License
    li 
      a(href="#donate").smooth Contributing

br 

p.align-center
  img(src="https://picsum.photos/800/600?random", alt="Sample of a responsive image")

br

p.align-center 
  a(href="#", role="offcanvas", data-id="sidenav").btn Click here to close
