section#get-started

  .container
    .row 
      .col.md-5
        h2 Get started
    
        .alert.info
          h5.m-0.mb-20 Made for modern browsers
          p.mb-0 Desktop: <b>IE 10+</b>, <b>Edge 12+</b>, <b>Chrome 21+</b>, <b>Firefox 22+</b>, <b>Opera 12.1+</b>, and <b>Safari 6.1+</b>.
          p.mb-0 Mobile: <b>Safari 7+</b>, <b>Android 4.4+</b>, <b>Blackberry 10+</b>, <b>Opera 12.1+</b>, <b>Android Chrome 71+</b>, <b>Android Firefox 64+</b> and <b>IE 11</b>.

        br

        p.lead.
           <a href="https://github.com/AbtzLabs/seed-css" ><b>Fork</b></a>, 
           <a href="https://github.com/AbtzLabs/seed-css/archive/develop.zip" ><b>download</b></a> or 
           install via <b >NPM</b>.

      .col.md-6
        p
          span When using NPM: 
          code $ npm install --save seed-css

        p.align-justify.
          After get the latest version of files, import it to your pages as the example below:

        .code-sample
            pre.prettyprint.lang-html.
              &lt;head &gt;
                ...
                &lt;link href="/path/to/seed.css" rel="stylesheet" type="text/css" &gt;
              &lt;/head&gt;
