section#get-started

  .container
    h2.align-center Get started

    br

    .row.stretch.highlight
      .col.md-4.align-center 
        div 
          span(data-eva="cloud-download-outline", data-eva-height="64", data-eva-width="64", data-eva-fill="#1466ff").eva
        h5.mb-0 Install
        p.mt-0 Fork, download or install via NPM.

      .col.md-4.align-center 
        div 
          span(data-eva="code-outline", data-eva-height="64", data-eva-width="64", data-eva-fill="#1466ff").eva
        h5.mb-0 Prepare 
        p.mt-0 Create the minimum markup

      .col.md-4.align-center 
        div 
          span(data-eva="checkmark-outline", data-eva-height="64", data-eva-width="64", data-eva-fill="#1466ff").eva
        h5.mb-0 Done
        p.mt-0 You are good to go!

    br

    .code-sample
      pre.prettyprint.lang-html.
        &lt;head &gt;
          ...
          &lt;!-- Add something like this to the HEAD of your page for the Style --&gt;
          &lt;link href="/path/to/seed.css" rel="stylesheet" type="text/css" &gt;

          &lt;!-- Add something like this to the HEAD of your page when using the JS Helpers --&gt;
          &lt;script defer src="/path/to/seedcss.js" rel="stylesheet" type="text/css" &gt;&lt;/script&gt;
        &lt;/head&gt;

    br

    .alert.info
      h6.m-0.mb-5 Supported browsers:
      p.m-0 Desktop: <b>IE 10+</b>, <b>Edge 12+</b>, <b>Chrome 21+</b>, <b>Firefox 22+</b>, <b>Opera 12.1+</b>, and <b>Safari 6.1+</b>.
      p.m-0 Mobile: <b>Safari 7+</b>, <b>Android 4.4+</b>, <b>Blackberry 10+</b>, <b>Opera 12.1+</b>, <b>Android Chrome 71+</b>, <b>Android Firefox 64+</b> and <b>IE 11</b>.
    
    br

    .code-sample
      pre.prettyprint.lang-bash.
        # When using NPM, run this in a terminal window
        $ npm install --save seed-css
