section#get-started

  .container
    .row 
      .col.md-5
        h2 Get started
    
        .alert.info
          h5.m-0 Made for modern browsers
          span Supports <b>IE10+</b>, <b>Chrome</b>, <b>Firefox</b> and <b>Safari</b>.

        br

        p.lead.
           <a href="https://github.com/AbtzLabs/seed-css" >Fork</a> this project, 
           <a href="https://github.com/AbtzLabs/seed-css/archive/develop.zip" >download</a> the files or 
           install it via NPM.

      .col.md-6.md-offset-1
        p
          span When using NPM: 
          code $ npm install --save seed-css

        p.align-justify.
          After get the latest version of files, import it to your pages as the example below:

        .code-sample
            pre.prettyprint.lang-html.
              &lt;head &gt;
                ...
                &lt;link href="/path/to/seed.css" rel="stylesheet" type="text/css" &gt;
              &lt;/head&gt;
