header.py-20
  .background
  .container.my-0
    .row 
      .col.md-6.pt-20.align-center
        h1.mb-0.animated.bounce Seed CSS
        p.mt-0.lead.animated.fadeIn.delay-1s A light-weight and mobile first CSS boilerplate.
      
      .col.md-6.align-center
        .cta.pt-30
          p#release.animated.fadeIn.delay-2s {%version%}

          a.btn.primary.animated.fadeInLeft.delay-2s(href="https://github.com/AbtzLabs/seed-css/archive/develop.zip")
            span DOWNLOAD

          a.btn.secondary.smooth.animated.fadeInRight.delay-2s(href="#contribute")
            span CONTRIBUTE
