header.py-20
  .background
  .container.my-0
    .row 
      .col.md-6.pt-20.align-center
        h1.mb-0 Seed CSS
        p.mt-0.lead A light-weight and mobile first CSS boilerplate.
      
      .col.md-6.align-center
        .cta.pt-30
          p#release {%version%}

          a.btn.primary(href="https://github.com/AbtzLabs/seed-css/archive/develop.zip")
            span DOWNLOAD

          a.btn.purple(href="#donate")
            span DONATE
