section#library-download
  .container
    .fadeInUp.animated.animated-once
      h2.align-center JavaScript Library Download

    p.align-justify.lead.
      As a general rule, <b>seed-css</b> is not JavaScript dependent because it is implemented 
      purely in CSS (using Sass), however, there are a few exceptions created in order to deliver a 
      high level experience to your visitors/ users. Any component which has the (optional) JavaScript 
      dependence has it written on its own section.

    h5 Existing helpers:

    .table-responsive
      table.hovered
        thead
          tr
            th Helper
            th Detail
            th Remarks
        tbody
          tr
            td.nowrap fileUpload
            td.nowrap <code >SeedCSS.fileUpload()</code>
            td Custom HTML InputFileUploadElement.
          tr
            td.nowrap modal
            td.nowrap <code >SeedCSS.modal([options])</code>
            td 
              span Modal overlay window with handlers for ESC key, outside click and animations powered by 
              a(href="https://daneden.github.io/animate.css/", target="_blank") Animate.CSS
              span . Check the documentation  
              a(href="https://github.com/AbtzLabs/seed-css/blob/master/docs/modal.md", target="_blank") here
          tr
            td.nowrap offCanvas
            td.nowrap <code >SeedCSS.offCanvas()</code>
            td Off-canvas panel.
          tr
            td.nowrap textArea
            td.nowrap <code >SeedCSS.textArea()</code>
            td Custom HTML TextareaElement with characters counter.
          tr
            td.nowrap scroll
            td.nowrap <code >SeedCSS.scroll([options])</code>
            td 
              span A simple yet handy scroll smoother which makes scrolling navigation soft and more enjoyable.
              span Check the documentation 
              a(href="https://github.com/AbtzLabs/seed-css/blob/master/docs/scroll.md", target="_blank") here
          tr
            td.nowrap window.CustomEvent
            td.nowrap <code >new CustomEvent(name[, option])</code>
            td A simple yet cross-browser polyfill for CustomEvents calls. Used internally by all helpers.

    br 

    .align-center
      a(href="https://github.com/AbtzLabs/seed-css/releases/latest").btn.secondary GET THE JAVASCRIPT HERE
      
      p 
        span It is plug-and-play and dependecy free.
        br 
        span or check the code on 
        a(target="_blank", href="https://github.com/AbtzLabs/seed-css/tree/master/source/js/components") Github
