nav.sticky.dark
  ul.container.my-0 
    li 
      a(href="#get-started") Get started
    li 
      a(href="#examples-basic") Basic
    li 
      a(href="#examples-components") Components
    li 
      a(href="#sample-utilities") Utilities
    li 
      a(href="#library-download") JS Lib
    li 
      a(href="#license") License
    li 
      a(href="#donate") Contributing
