nav.sticky.dark.with-shadow
  .container
    button(role="offcanvas", data-id="sidenav").hamburguer 
      span
      span
      span

    a(href="#").logo.hide-on-medium-and-up
      span Seed-CSS

    ul.my-0.collapsible
      li 
        a(href="#get-started").smooth Get started
      li 
        a(href="#examples-basic").smooth Basic
      li 
        a(href="#examples-components").smooth Components
      li 
        a(href="#examples-utilities").smooth Utilities
      li 
        a(href="#library-download").smooth JS Lib
      li 
        a(href="#license").smooth License
      li
        a(href="#contribute").smooth Contributing
