nav.sticky.dark
  ul.container.my-0.hide-on-large-and-up
    li 
      a(href="#", role="offcanvas", data-id="sidenav").logo 
        span.hamburger
        span Seed-CSS

  ul.container.my-0.hide-on-medium-and-down 
    li 
      a(href="#get-started").smooth Get started
    li 
      a(href="#examples-basic").smooth Basic
    li 
      a(href="#examples-components").smooth Components
    li 
      a(href="#examples-utilities").smooth Utilities
    li 
      a(href="#library-download").smooth JS Lib
    li 
      a(href="#license").smooth License
    li 
      a(href="#donate").smooth Contributing
