section#show-case
  .container
    h2 Showcase

    p.align-justify.
      Have you build a website or app using <code class="primary">seed-css</code>?
      Don't be shy and let me know.

    p Your creation can be included here, in the showcase. :)
