/* 
 * Seed CSS - Buttons
 * @version 2.2.0
 */

$color-change-rate: 5%;

.btn,
a.btn {
  @include transition(all, 0.25s, ease-in-out);
  @include rem(min-width, 170px);

  cursor: pointer;
  background-color: $white;
  display: inline-block;
  box-sizing: border-box;
  margin: $margin / 2;
  padding: $padding ($padding * 3);
  line-height: $height / 2;
  font-weight: 600;
  color: $grey-dark;
  border: {
    radius: $border * 5;
    width: $border;
    color: $grey-dark;
    style: solid;
  }
  text: {
    align: center;
    decoration: none;
    rendering: optimizeLegibility;
  }

  // enabled
  &.link {
    background: transparent;
    border: 0;
  }

  &.primary {
    border-color: $primary;
    @extend .primary-background;

    &.outline {
      background-color: transparent !important;
      color: $primary !important;
    }
  }

  &.secondary {
    border-color: $secondary;
    @extend .secondary-background;

    &.outline {
      background-color: transparent !important;
      color: $secondary !important;
    }
  }

  &.red {
    border-color: $red;
    @extend .red-background;

    &.outline {
      background-color: transparent !important;
      color: $red !important;
    }
  }

  &.orange {
    border-color: $orange;
    @extend .orange-background;

    &.outline {
      background-color: transparent !important;
      color: $orange !important;
    }
  }

  &.green {
    border-color: $green;
    @extend .green-background;

    &.outline {
      background-color: transparent !important;
      color: $green !important;
    }
  }

  &.purple {
    border-color: $purple;
    @extend .purple-background;

    &.outline {
      background-color: transparent !important;
      color: $purple !important;
    }
  }

  &.white {
    border-color: $white;
    background-color: $white !important;
    color: $black !important;

    &.outline {
      background-color: transparent !important;
      color: $white !important;
    }
  }

  &:hover,
  &:focus,
  &:active {
    outline: none;

    &:not(.link) {
      box-shadow: $shadow-default;
      background-color: white;

      &.primary {
        background-color: darken($primary, $color-change-rate) !important;
        border-color: darken($primary, $color-change-rate);

        &.outline {
          background-color: transparent !important;
          color: darken($primary, $color-change-rate) !important;
        }
      }

      &.secondary {
        background-color: darken($secondary, $color-change-rate) !important;
        border-color: darken($secondary, $color-change-rate);

        &.outline {
          background-color: transparent !important;
          color: darken($secondary, $color-change-rate) !important;
        }
      }

      &.red {
        background-color: darken($red, $color-change-rate) !important;
        border-color: darken($red, $color-change-rate);

        &.outline {
          background-color: transparent !important;
          color: darken($red, $color-change-rate) !important;
        }
      }

      &.orange {
        background-color: darken($orange, $color-change-rate) !important;
        border-color: darken($orange, $color-change-rate);

        &.outline {
          background-color: transparent !important;
          color: darken($orange, $color-change-rate) !important;
        }
      }

      &.green {
        background-color: darken($green, $color-change-rate) !important;
        border-color: darken($green, $color-change-rate);

        &.outline {
          background-color: transparent !important;
          color: darken($green, $color-change-rate) !important;
        }
      }

      &.purple {
        background-color: darken($purple, $color-change-rate) !important;
        border-color: darken($purple, $color-change-rate);

        &.outline {
          background-color: transparent !important;
          color: darken($purple, $color-change-rate) !important;
        }
      }
    }

    &.link {
      color: $primary;
      background: transparent;
      border: none;
    }
  } // .btn:hover

  // disabled
  &[disabled],
  &.disabled {
    cursor: not-allowed;
    color: $grey-dark;
    border-color: $grey;
    background-color: $grey;
    text-shadow: white 1px 1px 1px;

    &:hover,
    &:focus,
    &:active {
      cursor: not-allowed;
      outline: none;
      color: $grey-dark;
      border-color: $grey;
      background-color: $grey;
      text-shadow: white 1px 1px 1px;
      box-shadow: none;
    }
  } // .disabled, [disabled]

  // sizes
  &.medium {
    @include rem(min-width, 120px);
    @include rem(font-size, 14px);
    padding: ($padding / 2) ($padding * 2);
  }

  &.small {
    @include rem(min-width, 80px);
    @include rem(font-size, 12px);
    padding: ($padding / 3) ($padding);
  }
} // .btn
