/* -----------------------
 * Seed CSS - Forms
 * ----------------------- */

.field {
  margin-bottom: $margin * 2;
  position: relative;

  &.seed-select {
    &::before {
      content: '';
      position: absolute;
      top: 25px;
      right: 1px;
      bottom: 1px;
      width: 30px;
      margin: $margin/2 0;
      background-color: #fff;
      z-index: 1;
      max-height: 36px;
    }

    &::after {
      font-family: "Ionicons";
      -webkit-speak: none;
      -moz-speak: none;
      -ms-speak: none;
      -o-speak: none;
      speak: none;
      content: "\f123";
      display: block;
      position: absolute;
      bottom: $margin;
      right: $margin;
      color: $darken-grey;
      z-index: 2;
    }

    select {
      @include appearance(none);
      background-color: transparent;
      z-index: 5;

      &::-ms-expand {
        display: none;
      }
    }
  }

  & > label {
    display: block;
    width: 100%;
    color: $darken-grey;

    & > input[type="radio"],
    & > input[type="checkbox"] {
      margin-right: $margin;
    }
  }

  & > span {
    &.info {
      color: $grey;
    }
  } // span

  input[type="text"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="email"],
  input[type="url"],
  textarea,
  select {
    width: 100%;
    box-sizing: border-box;
    @include rem(padding, 0 $padding);
    @include rem(font-size, 16px);
    @include rem(height, 40px);
    @include rem(line-height, 40px);
    border: $border solid $grey;
    border-radius: 0;
    margin: 5px 0;

    @include box-shadow(0 0 0 1000px white inset);
    @include appearance(none);

    &:focus,
    &:active {
      // this removes the yellow background from autofil features
      @include box-shadow(0 0 0 1000px white inset);
      // outline: $border solid $primary;
      border-color: $primary;
      outline: none;
    }

    & > option {
      border: 0;
      outline: none;
      @include appearance(none);
    }

  } // input[...]

  textarea {
    resize: none;
    @include rem(height, 85px);
    @include rem(max-height, 85px);
    @include rem(line-height, 25px);
    @include rem(padding, 10px);
  }

  select {
    background-color: rgba(255,255,255,0.9);
    @include rem(height, 40px);
  }

  input[type="radio"],
  input[type="checkbox"] {
    position: absolute;
    margin-left: -99999px;
    display: none;

    & + label {
       cursor: pointer;

      &::before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        border: 1px solid grey;
        background-color: #fff;
        @include rem(width, 16px);
        @include rem(height, 16px);
        @include rem(margin-right, 10px);
      }
    }

    &:checked {
      & + label {
        &::before {
          border-color: $primary;
        }
      }
    }

  } // radio, checkbox

  input[type="checkbox"] {
    &:checked {
      & + label {
        &::after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 2px;
          border: 3px solid $primary;
          border-top-color: transparent;
          border-right-color: transparent;
          @include rem(width, 16px);
          @include rem(height, 8px);
          @include transf(rotate(-45deg));
        }
      }
    }
  }

  input[type="radio"] {

    & + label {
      &::before {
        border-radius: 20px;
      }
    }

    &:checked {
      & + label {
        &::before {
          background-color: $primary;
        }

        &::after {
          content: '';
          display: block;
          position: absolute;
          top: 8px;
          left: 4px;
          border: 5px solid #fff;
          border-radius: 20px;
          @include rem(width, 0);
          @include rem(height, 0);
        }
      }
    }
  }

  &.has-feedback {
    & > span {
      &.error {
        color: $red;
      }

      &.success {
        color: $green;
      }

      &.info {
        color: $grey;
      }
    } // span 

    input[type="text"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="email"],
    input[type="url"],
    textarea,
    select {
      &.error {
        border-color: $red;
      }

      &.success {
        border-color: $green;
      }
    } // input[type="*"], textarea, select

    input[type="radio"],
    input[type="checkbox"] {

      &.error:not(:checked) + label {
        color: $red;

        &::before {
          border-color: $red;
        }
      }
      
    } // input[type="radio"], input[type="checkbox"]

    &.seed-select {
      &::after {
        transform: translateY(-100%);
      } 
    } // .seed-select
  } // .has-feedback
}  // .field
