/** Grid **/

.grid {
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin: $margin auto;
  position: relative;

  .row {
    width: 100%;
    display: block;
    box-sizing: border-box;
    position: relative;
  }

  .col {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    min-height: $height;
    padding: $padding / 2;
    vertical-align: top;
    margin-bottom: $margin / 2;

    @include grid-make-cols('sm');
  }
}

@media #{$medium-and-up} {
  .grid {
    .col {
      @include grid-make-cols('md');
    }
  }
}

@media #{$large-and-up} {
  .grid {
    .col {
      @include grid-make-cols('lg');
    }
  }
}
