/* 
* Seed CSS - Grid
* @version 2.2.0
*/

@import '../includes/mixins-flex';

.row {
  //   display: block;
  @include flexbox();
  @include flex-flow(row wrap);
  @include align-items(flex-start);
  width: 100%;
  box-sizing: border-box;
  position: relative;
  text-align: inherit; // Fallback for IE-Edge
  text-align: initial;

  > .col {
    @include justify-content(space-between);
    position: relative;
    box-sizing: border-box;
    min-height: $height;
    margin-bottom: $margin / 2;
    padding: $margin;
  } // .row > .col
} // .row

@media #{$small-and-up} {
  .row {
    > .col {
      @include grid-make-cols('sm');
    }
  }
}

@media #{$extra-small} {
  .row {
    > .col {
      @include grid-make-cols('xs');
    }
  }
}

@media #{$medium-and-up} {
  .row {
    > .col {
      @include grid-make-cols('md');
    }
  }
}

@media #{$large-and-up} {
  .row {
    > .col {
      @include grid-make-cols('lg');
    }
  }
}

@media #{$extra-large-only} {
  .row {
    > .col {
      @include grid-make-cols('xl');
    }
  }
}
