/** Grid **/

.grid {
  width: 100%;
  margin: $margin auto;
  display: block;;
  position: relative;

  & > .row {
    display: block;
    min-height: $height;
    margin-bottom: $margin / 2;

    & > .col {
      box-sizing: border-box;
      // display: inline-block;
      display: inline-block;
      @include rem(min-height, $height);
      padding: {
        left: $padding;
        right: $padding;
      }
      vertical-align: top;
      margin-bottom: $margin / 2;

      &.sm {
        @include grid-col();
      }

      @media #{$medium-and-up} {
        &.md {
          @include grid-col();
        }
      }

      @media #{$large-and-up} {
        &.lg {
          @include grid-col();
        }
      }
    }
  }
}
