/* 
 * Seed CSS - Modals
 * @version 2.1.0
 */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;

  &.delay-1s {
    @include animation-delay(400ms);
  }

  & > &-window {
    @include rem(width, 500px);
    @include animation-delay(100ms);
    @include animation-duration(500ms);
    top: 5%;
    max-width: 90%;
    max-height: 90%;
    box-shadow: $shadow-default;
    box-sizing: border-box;
    border-radius: $radius;
    background-color: #fff;
    position: relative;
    margin: 0 auto;
    cursor: default;
  } // > .modal-window

  & &-header {
    padding: ($padding * 2) ($padding * 2) 0;
    position: relative;

    > .modal-title {
      @include rem(font-size, 30px);
      font-weight: 700;
      margin: 0;
    } // .modal-title

    > .dismiss {
      @include rem(font-size, 20px);
      @include rem(right, $margin * 2);
      @include rem(top, $margin * 2);
      cursor: pointer;
      position: absolute;
      color: $grey-dark !important;
      text-decoration: none;
      font-weight: bold;

      &:hover {
        color: $primary !important;
      }
    } // .dismiss
  } // .modal-header

  & &-body {
    padding: ($padding * 2);
  } // .modal-body

  & &-footer {
    padding: 0 ($padding * 2) ($padding / 2);
  } // .modal-footer
} // .modal
