/* 
 * Seed CSS - Offset Canvas
 * @version 2.0.0
 */

.offset-canvas {
  @include transform(translateX(-100%));
  @include transition(transform, 0.3s, ease-in-out);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  height: 100vh;
  background-color: $grey-light;
  width: $small-container;
  max-width: $small;
  box-shadow: $shadow-default;
  box-sizing: border-box;
  padding: 0 ($padding * 2);
  overflow: hidden;
  overflow-y: auto;
  z-index: 500;

  &.right {
    @include transform(translateX(100%));
    left: auto;
    right: 0;
  }

  &.inset {
    box-shadow: $shadow-inset;
  }

  &.open {
    @include transform(translateX(0%));
  }
}
