/* -----------------------
 * Seed CSS - Utilities
 * ----------------------- */

// alignment
.align {
  &-center {
    text-align: center;
  }
  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }
  &-justify {
    text-align: justify;
  }
}

// media
img {
  vertical-align: middle;

  &:not(.no-responsive) {
    position: relative;
    max-width: 100%;
  }

  &.circle {
    border-radius: 50%;
  }

  &.thumb {
    border: {
      width: 5px;
      color: white;
      style: solid;
      radius: 3px;
    }
    max-width: 100px;
    height: auto;
  }
}

// text transform
.nowrap {
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.upper-case {
  text-transform: uppercase;
}

.lower-case {
  text-transform: lowercase;
}

.camel-case {
  text-transform: capitalize;
}

.uc-first::first-letter {
  text-transform: capitalize;
}

// show and hide
.hide {
  display: none !important;

  &-only {
    &-small {
      @media #{$small-only} {
        display: none !important;
      }
    }

    &-medium {
      @media #{$medium-only} {
        display: none !important;
      }
    }

    &-large {
      @media #{$large-only} {
        display: none !important;
      }
    }
    
    &-extra-large {
      @media #{$extra-large-only} {
        display: none !important;
      }
    }
  }

  &-on-medium-and {
    &-down {
      @media #{$medium-and-down} {
        display: none !important;
      }
    }

    &-up {
      @media #{$medium-and-up} {
        display: none !important;
      }
    }
  }

  &-on-large-and {
    &-down {
      @media #{$large-and-down} {
        display: none !important;
      }
    }

    &-up {
      @media #{$large-and-up} {
        display: none !important;
      }}
  }
}

// colors
.primary {
  color: $primary;
}
