/* -----------------------
 * Seed CSS - Utilities
 * ----------------------- */

.align {
  &-center {
    text-align: center;
  }
  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }
  &-justify {
    text-align: justify;
  }
}

img {
  vertical-align: middle;

  &:not(.no-responsive) {
    position: relative;
    max-width: 100%;
  }

  &.circle {
    border-radius: 50%;
  }

  &.thumb {
    border: {
      width: 5px;
      color: white;
      style: solid;
      radius: 3px;
    }
    max-width: 100px;
    height: auto;
  }
}

.nowrap {
  white-space: nowrap;
}

.camel-case {
  text-transform: capitalize;
}

.uc-first::first-letter {
  text-transform: capitalize;
}

.hide {
  display: none !important;

  &-only-small {
    @media only screen and (max-width: $small) {
      display: none !important;
    }
  }

  &-on-medium-and-down {
    @media only screen and (max-width: $medium) {
      display: none !important;
    }
  }
}
