#component-badges
  h4 Badges

  p.lead.
    Badges are another component commonly used to notifications.

  br

  .row 
    .col.md-5
      .sample-container.auto-height.px-20
        .badges.align-center
          p.mb-40 
            span.badge default

          p.mb-40 
            span.badge.info info

          p.mb-40 
            span.badge.success success

          p.mb-40 
            span.badge.warning warning

          p.mb-50 
            span.badge.danger danger


    .col.sm-12.md-6.md-offset-1

      .code-sample
        pre.prettyprint.lang-html.
          &lt;!-- default --&gt;
          &lt;span class="badge" &gt; ... &lt;/span&gt;

          &lt;!-- info --&gt;
          &lt;span class="badge info" &gt; ... &lt;/span&gt;

          &lt;!-- success --&gt;
          &lt;span class="badge success" &gt; ... &lt;/span&gt;

          &lt;!-- warning --&gt;
          &lt;span class="badge warning" &gt; ... &lt;/span&gt;

          &lt;!-- danger --&gt;
          &lt;span class="badge danger" &gt; ... &lt;/span&gt;
