#component-cards
  h4 Cards

  p.
    Cards are important for applications and websites riches in content.

  .row
    .col.md-6.px-10
      h6 Simple cards

      .sample-container.auto-height
        .card.place-center
          .card-header
            h5.card-title Card header
          .card-body
            p Card body
          .card-footer
            p Card footer

      h5 Code example 

      .code-sample
        pre.prettyprint.lang-html.
          &lt;div class="card" &gt;
              &lt;div class="card-header" &gt;
                &lt;h5 class="card-title" &gt;Card header&lt;/h5&gt;
              &lt;/div&gt;
              &lt;div class="card-body" &gt;
                &lt;p &gt; Card body&lt;/p&gt;
              &lt;/div&gt;
              &lt;div class="card-footer" &gt;
                &lt;p &gt; Card footer&lt;/p&gt;
              &lt;/div&gt;
            &lt;/div&gt;

    .col.md-6.px-10
      h6 Image cards

      .sample-container.auto-height
        .card.card-media.place-center
          .card-header 
            img(src="https://picsum.photos/350/200", alt="Sample image card")
            h5.card-title Card header with image
          .card-body
            p Card body
          .card-footer
            p Card footer

      h5 Code example 

      .code-sample
        pre.prettyprint.lang-html.
            &lt;div class="card card-image" &gt;
              &lt;div class="card-header" &gt;
                &lt;img src="https://unsplash.it/350/200" alt="Sample image card" /&gt;
                &lt;h5 class="card-title" &gt;Card header&lt;/h5&gt;
              &lt;/div&gt;
              &lt;div class="card-body" &gt;
                &lt;p &gt; Card body&lt;/p&gt;
              &lt;/div&gt;
              &lt;div class="card-footer" &gt;
                &lt;p &gt; Card footer&lt;/p&gt;
              &lt;/div&gt;
            &lt;/div&gt;

      p * Images from <a href="https://picsum.photos" target="_blank" >picsum.photos</a>


