#sample-container
  h4 Containers

  .row
    .col.md-4
      p.lead.
        Containers are simple <code >div</code> with pre-defined width depending on the 
        screen size, which will help to keep the content enclosed in a specific area.
      
      p.
        The <code >max-width</code> is set to <code >1200px</code> on wide screens.

    .col.md-7.md-offset-1
      .sample-container.align-center This's a container.

      .code-sample
          pre.prettyprint.lang-html.
              &lt;div class="container" &gt;&lt;/div&gt;
