#component-container
  h4 Containers

  .row
    .col.md-4
      p.lead.align-justify.
        A containers is a simple <b >DIV</b> element with a pre-defined <code >width</code> 
        which will help you to keep the content enclosed in a specific area.
      
    .col.md-7
      .sample-container.align-center This's a container.

  h5 Code example

  .code-sample
      pre.prettyprint.lang-html.
          &lt;div class="container" &gt;&lt;/div&gt;
          &lt;div class="container-fluid" &gt;&lt;/div&gt;

  - showPrefix = false;
  - showColumCount = false;
  include _container-table

  h6 Fluid containers are all <code >100% width</code> without <code >max-width</code> set.
