#component-container
  h4 Containers

  .row
    .col.md-4
      p.lead.align-justify.
        Containers are simple <b >DIV</b> elements with pre-defined width (depending on the 
        screen size) which will help to keep the content enclosed in a specific area.
      
    .col.md-7
      .sample-container.align-center This's a container.

      .code-sample
          pre.prettyprint.lang-html.
              &lt;div class="container" &gt;&lt;/div&gt;
              &lt;div class="container-fluid" &gt;&lt;/div&gt;

  - showPrefix = false;
  - showColumCount = false;
  include _container-table

  h6 Fluid containers are all 100% with no max-width.
