
#component-icons
  h4 Icons

  .row 
    .col.md-5
      p.lead.
        For the sake of flexibility, <code >seed-css</code> does not implement its own set of icons.

      p.lead.
        However, there are tons of really cool icons out there which you can easily use with this boilerplate. 
        Some of them are trully special and free, which we strongly recommend to you.
 
    .col.md-6.md-offset-1
      h5 Recommended Icons

      ol 
        li 
          a(href="https://akveo.github.io/eva-icons/#/", target="_blank").lead Eva Icons (Free)
        li 
          a(href="https://ionicons.com/", target="_blank").lead Ion Icons (Free)
        li 
          a(href="https://fontawesome.com/icons?d=gallery&m=free", target="_blank").lead Font Awesome (Free)
