
#component-icons
  h4 Icons

  .row 
    .col.md-5
      p.lead.align-justify.
        For the sake of flexibility, <b >seed-css</b> does not implement its own set of icons.

        However, there are tons of really cool icons out there which you can easily use with this boilerplate. 
        Some of them are trully special and free, which we strongly recommend to you.
 
    .col.md-6.md-offset-1
      h5.m-0 Recommended Icons

      ol 
        li.mb-20 
          a(href="https://akveo.github.io/eva-icons/#/", target="_blank").lead Eva Icons 
          span.badge.info free, used in this page
        li.mb-20 
          a(href="https://ionicons.com/", target="_blank").lead Ion Icons 
          span.badge free
        li.mb-20 
          a(href="https://fontawesome.com/icons?d=gallery&m=free", target="_blank").lead Font Awesome 
          span.badge free
