
#component-responsive-images
  h4 Responsive images

  .row.stretch 
    .col.md-6.align-center

      p.lead.align-justify.
        By default, all images are considered responsive and will adjust
        accordingly to the window size. In case you, for any sake, need a
        non responsive image, just add the class <b >.no-responsive</b>
        on it.

      br

      p.align-center
        img(src="https://picsum.photos/800/600?random", alt="Sample of a responsive image").with-shadow

    .col.md-6.align-center
      .code-sample
        pre.prettyprint.lang-html.
          &lt;img src="..." alt="..." &gt;

      br

      h6 Circle and Thumbnail 

      .row
        .col.sm-12.md-6
          p.align-center
            img.circle(src="https://picsum.photos/100?random", alt="Circle image sample").with-shadow

        .col.sm-12.md-6
          p.align-center
            img.thumb(src="https://picsum.photos/g/100/", alt="Thumbnail image sample").with-shadow

        .row
          .col.sm-12
            .code-sample
              pre.prettyprint.lang-html.
                &lt;!-- makes a circle image --&gt;
                &lt;img class="circle" ... &gt;

                &lt;!-- makes a square small image --&gt;
                &lt;img class="thumb" ... &gt;
