#component-offcanvas
  h4 Off canvas menu

  p.lead.
    An off-canvas is that kind of component very useful to accomodate hidden navigation menus, 
    optionally visible when the page is seeing on desktops, but essential when the 
    viewport is as small as a mobile device. 

  .sample-container.auto-height 
    .row 
      .col.md-6.align-center
        button.btn.btn-primary(type="button", role="offcanvas", data-id="sidenav") 
          span Click me to 
          span.open Open
          span.close Close

      .col.md-5.px-20
        .field.seed-select
          label(for="offcanvas-style")
          select#offcanvas-style 
            option(value="aside") Aside (default)
            option(value="overlay") Overlay

  br
  
  p.lead.
    <b>Seed-css</b> brings two different styles of off-canvas: <b>aside</b> (default) and 
    <b>overlay</b>. In order to make the off-canvas work properly, it uses an arrangement of 
    special markups and (as another exception to the rule) a JavaScript helper.

  .row 
    .col.md-6 
      h5 Code example
      
      .code-sample
        pre.prettyprint.lang-html.
          &lt;!-- The off-canvas --&gt;
          &lt;aside class="offcanvas" id="mycanvas"  &gt; 
            ...
          &lt;/aside&gt;

          &lt;!-- The 'on-canvas' content wrapper --&gt;
          &lt;main class="oncanvas"  &gt; 
            ...
          &lt;/main&gt;

          &lt;!-- The trigger --&gt;
          &lt;button role="offcanvas" data-id="mycanvas" &gt; 
            ...
          &lt;/button&gt;

    .col.md-5.md-offset-1 
      h6.mt-0 When using Node JS:

      p Install it using NPM: <code>$ npm install seed-css --save</code> 

      .code-sample
        pre.prettyprint.lang-javascript.
          import SeedCSS from 'seed-css'; // Import 
          SeedCSS.offCanvas(); // Initialize

      h6 When using Vanilla JS:

      p First download the javascript library <a href="#library-download" class="spy ignore" >here</a>. 

      .code-sample 
        pre.prettyprint.lang-html.
          &lt;script src="seed-css.js" &gt;&lt;/script&gt;

      .code-sample
        pre.prettyprint.lang-javascript.
          if (typeof SeedCSS !== 'undefined') {
            SeedCSS.offCanvas();
          }

  p.lead Optionally assigning it to a variable you can programatically show and hide the modal.
  
  .code-sample
    pre.prettyprint.lang-javascript.
      const canvas = SeedCSS.offCanvas(); 
      canvas.get('#mycanvas').open();
      canvas.get('#mycanvas').close();
