#component-progress
  h4 Progress bars

  p.lead.
    Progress bar is an important elements for UX. If you use it 
    accordingly, it's gonna pass the imediate response to the user. By default, 
    the progress bar uses the <b >.secondary</b> color, but you can 
    define all the existing colors from <b>seed-css</b> just by adding 
    the color classes alongside <b>.progress-bar</b>.

  .row
    .col.md-5
      p Fixed progress 

      .align-center
        .progress-bar
          .bar(style="width: 55%")
          .label 55%

        br 

        .progress-bar.primary
          .bar(style="width: 60%")
          .label 60%

        br 

        .progress-bar.red
          .bar(style="width: 65%")
          .label 65%

        br 

        .progress-bar.orange
          .bar(style="width: 70%")
          .label 70%

        br 

        .progress-bar.green
          .bar(style="width: 75%")
          .label 75%

        br 

        .progress-bar.purple
          .bar(style="width: 80%")
          .label 80%

        br 

        .progress-bar.darkgrey
          .bar(style="width: 85%")
          .label 85%

        br 

        .progress-bar.grey
          .bar(style="width: 90%")
          .label 90%

        br 

        .progress-bar.softgrey
          .bar(style="width: 95%")
          .label 95%

      br

      p Undefined progress 
      .align-center
        .progress-bar.undefined.rainbow
          .bar

    .col.md-6.md-offset-1
      h5 Code example
      
      .code-sample
        pre.prettyprint.lang-html.
          &lt;!-- Fixed progress --&gt;
          &lt;div class="progress-bar secondary" &gt;
            &lt;div class="bar" &gt;&lt;/div&gt;
            &lt;label &gt;60%&lt;/label&gt;
          &lt;/div&gt;

          &lt;!-- Undefined progress --&gt;
          &lt;div class="progress-bar primary undefined" &gt;
            &lt;div class="bar" &gt;&lt;/div&gt;
          &lt;/div&gt;

      p.lead.
        The undefined progress bar also supports a raibow animation.  
        To achieve that simply use <code >.rainbow</code> alongside the <i>.undefined</i> class.
