#sample-spinners

  h4 Spinners

  p.lead The spinner is offered in three different sizes: <code >default</code>, <code >medium</code> and <code >big</code>.

  p.
    Also, the spinner animation speed can be controled with the classes: <code >medium</code> (0.85s) and <code >fast</code> (0.5s),
    while the normal speed animation will take 1.3s to complete the course.

  p.
    If for some reason you want to hide the "loading" message, just include the <code >lean</code> class or simply do not
    include the <code >data-label</code> property.

  .row
    .col.md-5
      h6 Default
      .spinner(data-label="Loading ...")

      br 

      h6 Medium <code >.medium</code>
      .spinner.medium(data-label="Loading ...").medium

      br 

      h6 Big <code >.big</code>
      .spinner.big(data-label="Loading ...").fast

    .col.md-6.md-offset-1
      h5 Code example
      
      .code-sample
        pre.prettyprint.lang-html.
          &lt;!-- Default --&gt;
          &lt;div class="spinner" data-label="Loading ..." &gt;&lt;/div&gt;

          &lt;!-- Default, no label --&gt;
          &lt;div class="spinner lean" data-label="Loading ..." &gt;&lt;/div&gt;
          &lt;div class="spinner" &gt;&lt;/div&gt;

          &lt;!-- Medium --&gt;
          &lt;div class="spinner medium" data-label="Loading ..." &gt;&lt;/div&gt;

          &lt;!-- Big --&gt;
          &lt;div class="spinner big" data-label="Loading ..." &gt;&lt;/div&gt;
