#component-typography
  h4 Typography

  p.lead.
    All default HTML tags are supported, including but not limited
    to the below few examples.

  .code-sample
    pre.prettyprint.lang-html.
      &lt;head &gt;
        ... 
        &lt;!-- Add something like this to the HEAD of your page --&gt;
        &lt;!-- Will add Open-Sans(400) and Lato (300,700) as title and general font-families --&gt;
        &lt;link href="//fonts.googleapis.com/css?family=Lato:300,700|Open+Sans:400" rel="stylesheet"&gt;
        ...
      &lt;/head&gt;

  p For other options, check <a href="https://fonts.google.com/" target="_blank" >Google Fonts</a> out.

  -var headers=[{size: 5, tag: 1}, {size: 4.2, tag: 2}, {size: 3.6, tag: 3}, {size: 3, tag: 4}, {size: 2.4, tag: 5}, {size: 1.5, tag: 6}]

  table 
    tbody 
      each h in headers
        tr 
          td 
            #{'h'+h.tag}= 'Header ' + h.tag
          td
            span Font-size: &nbsp;
            code= h.size + 'rem'
          td 
            .code-sample
              pre.prettyprint.lang-html.
                #{'<h'+h.tag+'> ... </h'+h.tag+'>'}

      tr 
        td Paragraph
        td
          span Font-size: &nbsp;
          code 1.5rem
        td 
          .code-sample
            pre.prettyprint.lang-html.
              &lt;p&gt; ... &lt;/p&gt;
      tr 
        td 
          strong Bold
        td
          span Font-size: &nbsp;
          code 1.5rem
        td 
          .code-sample
            pre.prettyprint.lang-html.
              &lt;strong&gt; ... &lt;/strong&gt;
      tr 
        td 
          i Italic
        td
          span Font-size: &nbsp;
          code 1.5rem
        td 
          .code-sample
            pre.prettyprint.lang-html.
              &lt;i&gt; ... &lt;/i&gt;
      tr 
        td 
          u Underlined
        td
          span Font-size: &nbsp;
          code 1.5rem
        td 
          .code-sample
            pre.prettyprint.lang-html.
              &lt;u&gt; ... &lt;/u&gt;
      tr 
        td 
          a(href="javascript;") Anchors
        td
          span Font-size: &nbsp;
          code 1.5rem
        td 
          .code-sample
            pre.prettyprint.lang-html.
              &lt;a href="" target="" &gt; ... &lt;/a&gt;
      tr 
        td 
          div 
            b Ordered lists:

          ol
            li First item
            li Second item
              ol
                li Nested first
                li Nested second ...
            li Third item

          div 
            b Unordered lists:

          ul
            li First item
            li Second item
              ul
                li Nested first
                li Nested second ...
            li Third item


        td
          span Font-size: &nbsp;
          code 1.5rem
        td 
          .code-sample
            pre.prettyprint.lang-html.
              &lt;!-- replace OL by UL or DL for different list types --&gt;
              &lt;ol &gt;
                &lt;li &gt; ... &lt;/li&gt;
                &lt;li &gt; ... &lt;/li&gt;
                &lt;li &gt; ... &lt;/li&gt;
              &lt;/ol&gt;

      tr 
        td 
          div 
            b Horizontal lines

          hr
          hr.dotted
          hr.solid
        td &nbsp;
        td 
          br 
          .code-sample
            pre.prettyprint.lang-html.
              &lt;hr  /&gt;
              &lt;hr class="dotted" /&gt;
              &lt;hr class="solid" /&gt;

      tr 
        td 
          code Code
        td 
          span Font-size: &nbsp;
          code 1.5rem
        td 
          br 
          .code-sample
            pre.prettyprint.lang-html.
              &lt;code &gt; ... &lt;/code&gt;

      tr 
        td 
          pre Pre
        td 
          span Font-size: &nbsp;
          code 1.5rem
        td 
          br 
          .code-sample
            pre.prettyprint.lang-html.
              &lt;pre &gt; ... &lt;/pre&gt;
